<div class="table-responsive mailbox-messages">
    {% if bon is defined %}
        <table class="table table-bordered table-hover table-striped" id="bonInt">
            <tr>
                <td>Prestataire</td><td>{{ bon.Prestataire.nom ~ "" ~ bon.Prestataire.prenom }}</td>
            </tr>
            <tr>
               <td>Editeur</td> <td>{{ bon.Editeur.nom ~ "" ~  bon.Editeur.prenom  }}</td>
            </tr>
            <tr>
                <td>Mois :</td><td>{{ bon.moisBdc }}</td>
            </tr>
            <tr>
                <td>Année :</td><td>{{ bon.anneeBdc }}</td>
            </tr>
            <tr>
                <td>Dta de transmission :</td><td>{{bon.datetransBdc|date('d/m/Y')  }}</td>
            </tr>
            <tr>
               <td>Date d'accuser :</td> <td>{{ bon.dateaccuserBdc|date('d/m/Y') }}</td>
            </tr>
            <tr>
               <td>Date de correction de rapport :</td> <td>{{ bon.datecorectrapBdc }}</td>
            </tr>
            <tr>
                <td>Observation du DGI</td><td>{{ bon.observationdirBdc }}</td>
            </tr><tr>
                <td></td>
            </tr><tr>
                <td></td>
            </tr><tr>
                <td></td>
            </tr>
        </table>
        <!-- /.table -->
    {% else %}

    {% endif %}
</div>