{% if rapport is defined %}
<div class="table-responsive mailbox-messages">
    <table>
        <tr>
            <td>Numero :</td><td>{{rapport.bon.numero  }}</td>
        </tr>
        <tr>
            <td>Type de Bon :</td> <td>{{ rapport.bon.typeBon }}</td>
        </tr>
        <tr>
            <td>Date du bon :</td><td>{{rapport.bon.dateEmission|date('d/m/Y')  }}</td>
        </tr>
        <tr>
            <td>Type Destinataire :</td><td>{{rapport.bon.typeDestinataire  }}</td>
        </tr>
        <tr>
            <td>Direction :</td><td>{{rapport.bon.destinataireDir.libelleDir  }}</td>
        </tr>
        <tr>
            <td>Objet de la commande :</td><td>{{rapport.bon.objetCommande  }}</td>
        </tr>
        <tr>
            <td>Validation de la commande :</td><td>{{rapport.bon.isValidate  }}</td>
        </tr>
        <tr>
            <td>Transmission de la commande :</td><td>{{rapport.bon.isTransmit  }}</td>
        </tr>
        <tr>
            <td>Montant sollicité  :</td><td>{{rapport.bon.montantSollicite  }}</td>
        </tr>
        <tr>
            <td>Rapport  :</td><td><textarea>{{ rapport.rapport }}</textarea></td>
        </tr>
    </table>
</div>
{% elseif bonI %}
    <div class="table-responsive mailbox-messages">

    </div>
{% else %}
    <div class="table-responsive mailbox-messages">

    </div>
{% endif %}