<div class="table-responsive mailbox-messages">
    {% if true %}

        <table class="table table-bordered table-hover table-striped" id="bonInt">
            <thead>
            <tr>
                <th>#</th>
                <th> bon de mois </th>
                <th>Année</th>
                <th> date de Visa</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% set bcCount = 0 %}
            {% for bon in bons %}
                {{ dump(bon) }}
                {% set bcCount = bcCount + 1 %}
                <tr>
                    <td>{{ bcCount}}</td>
                    <td>{{ bon.MoisBdc}}</td>
                    <td>{{ bon.anneeBdc }}</td>
                    <td>{{ bon.dateaccuserBdc|date('d/m/Y') }}</td>
                    <td><button data-id="{{ bon.idBdc }}" onclick="getDetail(this)">detail</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- /.table -->
    {% else %}

    {% endif %}
</div>