<div class="table-responsive mailbox-messages">
    {% if true %}

        <table class="table table-bordered table-hover table-striped" id="bonInt">
            <thead>
            <tr>
                <th>#</th>
                <th> date du bon </th>
                <th>editeur</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% set bcCount = 0 %}
            {% for bon in bons %}
                {#{% for mission in bon.missionsBdcjournalier %}#}
                    {#{{ dump(mission) }}#}
                {#{% endfor %}#}
                {% set bcCount = bcCount + 1 %}
                <tr>
                    <td>{{ bcCount}}</td>
                    <td>{{ bon.dateBdcjournalier|date('d/m/Y')}}</td>
                    <td>{{ bon.Editeur.nom ~ "" ~ bon.Editeur.prenom }}</td>
                    <td><button  data-id="{{ bon.idBdcjournalier }}" onclick="getDetail(this)">detail</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- /.table -->
    {% else %}

    {% endif %}
</div>