<div class="table-responsive mailbox-messages">
    {% if true %}

        <table class="table table-bordered table-hover table-striped" id="bonInt">
            <thead>
            <tr>
                <th>#</th>
                <th> Rapport de Mission </th>
                <th>Rapport</th>
                <th>Taux execution</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% set raCount = 0 %}
            {% for rapport in rapports %}
                {% set raCount = raCount + 1 %}
                <tr>
                    <td>{{ raCount}}</td>
                    <td>{{ rapport.Mission.designationMiss}}</td>
                    <td>{{ rapport.rapportResult }}</td>
                    <td>{{ rapport.tauxexecutionResult }}</td>
                    <td><button data-id="{{ rapport.id  }}" onclick="getDetail(this)">detail</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- /.table -->
    {% else %}

    {% endif %}
</div>