{% extends "::template.html.twig" %}

{% block stylesheet %} 
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/FadcoBundle/plugins/select2/select2.min.css') }}"/>
{% endblock %}

{# Le block à gauche #}

{% block sidebar %}
    <ul class="sidebar-menu">
        {% if app.user.type == "admin" %}

            <li class="">&nbsp;</li>
            <li class="">&nbsp;</li>
            <li class="header">GESTION DES COMPTES</li>
            <li><a href="{{ path('grh_prestataire') }}">Liste des distributeurs</a></li>
            <li><a href="{{ path('grh_prestataire_new',{ 'id': null }) }}">Ajouter un distributeur</a></li>
            {#{% if is_granted("ROLE_SUPER_ADMIN") %}#}
                {#<li><a href="{{ path('rigth') }}">Droits</a></li>#}
            {#{% endif %}#}
        
        {% endif %}

        <li class="">&nbsp;</li>
        <li class="">&nbsp;</li>
        <li class="">&nbsp;</li>

        {% if app.user.type == "distributeur" or app.user.type == "admin" %}
            
            <li class="header">REABONNEMENTS</li>
            <li><a href="{{ path('fadco_espace_distributeur_reabo') }}"><i class=""></i>Réabonnement direct</a></li>
            <li class="header">PRESTATIONS</li>
            <li><a href="{{ path('fadco_espace_distributeur_repair') }}"><i class=""></i> <span>Installation ou réparation</span></a></li>
            {#<li class="treeview">
                <a href="#"><i class="fa fa-user"></i> <span>ABONNEMENT</span> <i
                            class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('fadco_espace_distributeur_reabo') }}"><i class=""></i>Réabonnement direct</a></li>
                    <li><a href=""><i class=""></i> <span>Prestations</span></a></li>
                </ul>
            </li>#}

        {% endif %}

    </ul>
{% endblock %}
