{% extends "::template.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/GSPBundle/plugins/select2/select2.min.css') }}"/>
{% endblock %}
{# Le block à gauche #}
{% block sidebar %}
    <ul class="sidebar-menu">
        <li>
            <a href="#"><i class="fa fa-link"></i> <span>CONSULTATION</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
                <li><a href="{{ path('global_consultation') }}">DOSSIER NUMERIQUE </a></li>
                <li><a href="{{ path('global_demande_consultation') }}">DOSSIER PHYSIQUE </a></li>
            </ul>
        </li>
    </ul>

    {% if 'grh' in app.request.attributes.get("_route") %}
        <ul class="sidebar-menu">
            {% if app.user.typeprestataire is not null %}
                {% if app.user.typeprestataire== 'Directeur' or app.user.typeprestataire == 'DG' %}
                    <li class="treeview">
                        <a href="{{ path('grh_bondecommande_list') }}"><i class="fa fa-link"></i>
                            <span>BON DE COMMANDE</span> <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            {% if app.user.typeprestataire == 'Directeur' %}
                                <li><a href="{{ path('grh_bcjournalier') }}">BC Journalier</a></li>
                                <li><a href="{{ path('grh_bcjournalier_rexu') }}">Mes BC Journalier</a></li>
                            {% else %}
                                <li><a href="{{ path('grh_bcjournalier_recherche') }}">BC Journalier</a></li>
                            {% endif %}
                            <li><a href="{{ path('grh_bondecommande_list') }}">Bons de Commande</a></li>
                            <li><a href="{{ path('GSP_grh') }}">Editer et Envoyer</a></li>
                            <li><a href="{{ path('grh_bondecommande_listnoncorriger') }}">Rapports non corrigés</a></li>
                            <li><a href="{{ path('grh_bondecommande_listcorriger') }}">Rapports corrigés</a></li>

                            {% if app.user.typeprestataire == 'DG' %}
                                <li><a href="{{ path('grh_bondecommande_malist',{ 'id':app.user.id }) }}">Mes bons de
                                        commande</a></li>
                                <li><a href="{{ path('grh_bondecommande_listrapport',{ 'id':app.user.id }) }}">Mes
                                        Rapports</a></li>
                            {% endif %}

                            <li><a href="#">CANDIDATURE SPONTANEE</a>
                                <ul class="treeview-menu">
                                    <li><a href="{{ path('grh_morale') }}">Candidature Morale</a></li>
                                    <li><a href="{{ path('grh_physique') }}">Candidature Physique</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#"><i class="fa fa-link"></i> <span>CANDIDATURE SPONTANEE</span> <i
                                    class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('grh_morale') }}">Candidature Morale</a></li>
                            <li><a href="{{ path('grh_physique') }}">Candidature Physique</a></li>
                        </ul>
                    </li>
                {% elseif app.user.typeprestataire == 'PDG' %}
                    <li class="treeview">
                        <a href="#"><i class="fa fa-link"></i> <span>BON DE COMMANDE</span> <i
                                    class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('grh_bcjournalier_recherche') }}">BC Journalier</a></li>
                        </ul>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('grh_bondecommande_rapportvalider') }}">Rapports mensuels</a></li>
                        </ul>
                    </li>
                {% else %}
                    {% if app.user.CategoriePrestataire is not empty %}
                        {% if app.user.CategoriePrestataire.libelleCategorie == 'Notaire' %}
                            <li><a href="{{ path('grh_mesdossiers',{ 'id':app.user.id }) }}">DOSSIERS</a>
                                <ul class="treeview-menu">
                                    <li><a href="{{ path('grh_mesdossiers',{ 'id':app.user.id }) }}">Mes dossiers</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="treeview">
                            <a href="{{ path('grh_bondecommande_malist',{ 'id':app.user.id }) }}">BON DE COMMANDE</a>
                            <ul class="treeview-menu">
                                <li><a href="{{ path('grh_bcjournalier') }}">BC Journalier</a></li>
                                <li><a href="{{ path('grh_bondecommande_malist',{ 'id':app.user.id }) }}">Mes bons de
                                        commande</a></li>
                                <li><a href="{{ path('grh_bondecommande_listrapport',{ 'id':app.user.id }) }}">Mes Rapports</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                    <li class="treeview">
                        <a href="#"> <span>CANDIDATURE SPONTANEE</span> <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('grh_morale') }}">Candidature Morale</a></li>
                            <li><a href="{{ path('grh_physique') }}">Candidature Physique</a></li>
                        </ul>
                    </li>
                {% endif %}
            {% endif %}
            {% if  is_granted("ROLE_CONTROLEUR") %}
                <li class="treeview">
                    <a href="#"><i class="fa fa-link"></i> <span>ETATS</span> <i
                                class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('grh_bcjournalier_recherche') }}">BC Journalier</a></li>
                    </ul>

                </li>
                <li>
                    <a href="{{ path('grh_prestataire') }}"><i class="fa fa-users"></i> <span>CONTRE PERFORMANCE</span>
                        <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('grh_contreperformance') }}">Listes</a></li>
                        <li><a href="{{ path('grh_contreperformance_new') }}">Envoyer</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul><!-- /.sidebar-menu -->
    {% endif %}

    <ul class="sidebar-menu">
        <li class="header">GESTION DES BC INTERNES</li>

        <li class="treeview">
            <a href="#"><i class="fa fa-link"></i> <span>
            BC INTERNE&nbsp;&nbsp;&nbsp;{{ render(controller('GSPBundle:BonCommandeInterne:bonCount')) }}</span><i class="fa fa-angle-left pull-right"></i></a>

            <ul class="treeview-menu">
                <li><a href="{{ path('vente_boncommandeinterne_envoyes') }}">BC envoyés&nbsp;&nbsp;&nbsp;{{ render(controller('GSPBundle:BonCommandeInterne:bonEnvoyesCount')) }}</a></li>
                <li><a href="{{ path('vente_boncommandeinterne_recus') }}">BC réçus&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ render(controller('GSPBundle:BonCommandeInterne:receiveBonCount')) }}</a></li>
            </ul>
        </li>
    </ul>

    {% if  is_granted("ROLE_ARCHIVE") and  ('archive' in app.request.getUri) %}
        <ul class="sidebar-menu">
            <li class="header">Compte USER SERVICE ARCHIVE</li>

            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>SERVICE ARCHIVE</span> <i
                            class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('archive_dossier') }}">DOSSIER</a></li>
                    <li><a href="{{ path('archive_dossier_search') }}">RECHERCHE DE DOCUMENT</a></li>
                    <li><a href="{{ path('global_validation_consultation') }}">VALIDATION CONSULTATION</a></li>
                    <li><a href="{{ path('global_prorogation_consultation') }}">PROROGATION RETOUR</a></li>
                    <li><a href="{{ path('global_retour_consultation') }}"> RETOUR DOSSIER </a></li>
                    <li><a href="{{ path('etat_archive') }}"> Etat </a></li>

                </ul>
            </li>

        </ul><!-- /.sidebar-menu -->
    {% endif %}
    {% if  is_granted("ROLE_SAV") and  ('sav' in app.request.getUri) %}
        <ul class="sidebar-menu">
            <li class="header">Compte USER SAV</li>
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>SAV</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{path('dossiertitrepropriete')}}">DOSSIERS TITRE PROPRIETE </a></li>
                    {#<li><a href="{{ path('sav_foncier') }}">MORCELEMENT TITRE FONCIER</a></li>#}
                    {#<li><a href="{{ path('sav_forimmo') }}">FORMALITES IMMO</a></li>#}
                    {#<li><a href="{{ path('sav_mutation') }}">MUTATION NOM </a></li>#}
                    {#<li><a href="{{ path('rapverif') }}">RAPPORT DE VERIFICATION </a></li>#}
                    <li><a href="{{ path('retraittitrepropriete') }}">RETRAIT TITRE PROPRIETE </a></li>
                    {#<li><a href="{{ path('sav_assistancejuridique') }}">ASSISTANCE JURIDIQUE</a></li>#}
                    <li><a href="{{ path('visiteborne') }}">VISITE BORNE</a></li>
                    {#<li><a href="{{ path('commande') }}">COMMANDE </a></li>#}

                </ul>
            </li>

            {% if app.user.CategoriePrestataire is not empty %}
                {% if app.user.CategoriePrestataire.libelleCategorie == 'Notaire' %}
                    <li><a href="{{ path('grh_mesdossiers',{ 'id':app.user.id }) }}">DOSSIERS</a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('grh_mesdossiers',{ 'id':app.user.id }) }}">Mes dossiers</a></li>
                        </ul>
                    </li>
                {% endif %}
            {% else %}
                <li class="treeview">
                    <a href="{{ path('grh_prestataire') }}"><i class="fa fa-link"></i>
                        <span>PRESTATAIRES EXTERNES</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li class="treeview">
                            <a href="{{ path('grh_prestataire') }}"><i class="fa fa-link"></i> <span>NOTAIRES</span> <i
                                        class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="{{ path('dossierexterne_list_tousDossier') }}">DOSSIERS ENVOYES</a></li>
                                <li><a href="{{ path('dossierexterne_new') }}">ENVOYER DOSSIER</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="{{ path('grh_prestataire') }}"><i class="fa fa-link"></i> <span>AVOCATS</span> <i
                                        class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="#">DOSSIERS ENVOYES</a></li>
                                <li><a href="#">ENVOYER DOSSIER</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            {% endif %}

        </ul><!-- /.sidebar-menu -->
    {% endif %}

    <ul class="sidebar-menu">
        <li class="header">GESTION DES NOTES</li>
        <li><a href="{{ path('gsp_task_index') }}"><i class="fa fa-link"></i> <span>
            Mes notes
        </span></a></li>
    </ul>

    {#<ul class="sidebar-menu">#}
        {#<li><a href="{{ path('vente_boncommandeinterne') }}"><i class="fa fa-link"></i> <span>#}
            {#BC INTERNE#}
        {#</span></a></li>#}
    {#</ul>#}
    
    <ul class="sidebar-menu">
        <li class="header">GESTION DES REQUETES</li>
        <li><a href="{{ path('gsp_messages_bot_index') }}"><i class="fa fa-link"></i> <span>
            ALERTE DE PERFORMANCE
        </span></a></li>
        {% if  is_granted("ROLE_REQUETE") %}
            <li><a href="{{ path('gsp_requete_index') }}"><i class="fa fa-link"></i> <span>
                        EN ATTENTE&nbsp;&nbsp;&nbsp;
                        {{ render(controller('GSPBundle:Requete:enAttente')) }}
                    </span></a></li>
        {% endif %}
        {% if  is_granted("ROLE_ACCUEIL") %}
            <li><a href="{{ path('gsp_requete_resultats_index') }}"><i class="fa fa-link"></i> <span>
                        RESULTATS&nbsp;&nbsp;&nbsp;
                        {{ render(controller('GSPBundle:Requete:resulatsEnAttente')) }}
                    </span></a></li>
        {% endif %}        
    </ul>

    {% if  is_granted("ROLE_GRH") %}
        <ul class="sidebar-menu">
            <li class="header">GESTION DES RH</li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-user"></i> <span>PRESTATAIRES</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('grh_prestataire') }}">Liste</a></li>
                        <li><a href="{{ path('grh_prestataire_new',{ 'id': null }) }}">Ajouter</a></li>

                    {% if is_granted("ROLE_SUPER_ADMIN") %}
                
                        <li><a href="{{ path('rigth') }}">Droits</a></li>
                     
                    {% endif %}

                    </ul>
                </li>
                <li>
                    <a href="{{ path('grh_prestataire') }}"><i class="fa fa-users"></i> <span>CONTRE PERFORMANCE</span>
                        <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('grh_contreperformance') }}">Listes</a></li>
                        <li><a href="{{ path('grh_contreperformance_new') }}">Envoyer</a></li>
                    </ul>
                </li>
        </ul>
    {% endif %}

    {% if  is_granted("ROLE_ACCUEIL") %}
        <ul class="sidebar-menu">
            <li class="header">GESTION DE LA CLIENTELE</li>
            <li class="treeview">
                <a href="#"><i class="fa fa-users"></i> <span>ACCUEIL</span> <i
                            class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('gsp_accueil_new') }}"><i class="fa fa-plus"></i> <span>AJOUTER</span>
                        </a>
                    </li>
                    <li><a href="{{ path('gsp_accueil_index') }}"><i class="fa fa-search-plus"></i> <span>LISTE DES VISITES</span>

                        </a></li>
                </ul>
            </li>
			<li class="treeview">
                <a href="#"><i class="fa fa-share"></i> <span>RAPPORTS</span>
                    &nbsp;&nbsp;&nbsp;

                    <span class="badge label-danger">{{ render(controller('GSPBundle:RapportQualite:Unconsulted'))}}</span>


                    <i class="fa fa-angle-left pull-right"></i></a>
          

                <ul class="treeview-menu">

                    <li><a href="{{ path('rapportQualite')}}"><i class="fa fa-search-plus"></i>
                            <span>Liste des rapports</span>&nbsp;&nbsp;&nbsp;
                            <span class="badge label-danger">{{ render(controller('GSPBundle:RapportQualite:Unconsulted'))}}</span>
                        </a>
                    </li>

                   

                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-share"></i> <span>AFFECTATION</span>
                    &nbsp;&nbsp;&nbsp;
                    {{ render(controller('GSPBundle:Affectation:demande')) }}
                    <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">

                    <li>
                        <a href="{{ path('gsp_affectation_index') }}"><i class="fa fa-search-plus"></i>
                            <span>Affectations clients</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('gsp_affectation_index', {typeAffectation: 'proprietaire'}) }}"><i class="fa fa-search-plus"></i>
                            <span>Affectations proprietaires</span>
                        </a>
                    </li>
                    {% if  is_granted("ROLE_SUPER_ADMIN") %}
                        <li><a href="{{ path('modelemessage') }}"><i class="fa fa-search-plus"></i>
                                <span>Modèle SMS</span>
                            </a></li>
                    {% endif %}
                </ul>
            </li>

        </ul><!-- /.sidebar-menu -->

        {#{% endif %}#}
        {#{% if  is_granted("ROLE_ACCUEIL") %}#}
        {#{% if  is_granted("ROLE_ACCUEIL") and  ('vente' in app.request.getUri) %}#}
        <ul class="sidebar-menu">
            {% if  is_granted("ROLE_VENTE") %}
                <li class="header">GESTION VENTE</li>
                <!-- Optionally, you can add icons to the links -->
                {#<li class="active"><a href="{{path('vent_bien_vendable')}}"><i class="fa fa-link"></i> <span>VENDRE</span></a></li>#}
                <li class="treeview">
                    <a href="#"><i class="fa fa-link"></i> <span>GESTION CLIENTELE</span> <i
                                class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">

                        <li><a href="{{ path('vent_acheteur') }}">CLIENT</a></li>
                        <li><a href="{{ path('vente_apporteurdaffaire') }}">APPORTEUR D'AFFAIRE</a></li>

                        <li><a href="{{ path('vente_proprietaire') }}">PROPRIETAIRE</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-link"></i> <span>PRISE EN CHARGE  BIEN</span> <i
                                class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('vent_bien_in_creation') }}"><i class="fa fa-link"></i>
                                <span>Bien en cours de création</span></a></li>

                        <li><a href="{{ path('vent_bien_liste_rejet') }}"><i class="fa fa-link"></i>
                                <span>Biens Rejetés</span></a></li>

                        <li><a href="{{ path('vent_bien') }}"><i class="fa fa-link"></i>
                                <span>Liste des biens</span></a></li>
                        <li><a href="{{ path('vent_bien_non_valider') }}"><i class="fa fa-link"></i>
                                <span>Validation bien</span></a></li>

                        <li><a href="{{ path('fichespirituelle') }}"><i class="fa fa-link"></i>
                                <span>Fiche spirituelle</span></a>
                        </li>
                        <li><a href="{{ path('fichejuridique') }}"><i class="fa fa-link"></i> <span>Fiches juridiques</span></a>
                        </li>
                        <li>
                            <a href="{{ path('gsp_bien_programmation_interactions') }}">
                                Programmations d'interactions
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#"><i class="fa fa-link"></i> <span>GESTION DOMAINE</span> <i
                                class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">

                        <li><a href="{{ path('vente_domaine') }}">Morcellé</a></li>
                        <li><a href="{{ path('vente_domaine_nonmorcelle') }}">Non Morcellé </a></li>
                    </ul>
                </li>

            {% endif %}
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>DEMANDES D'ACHAT</span> <i
                            class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">

                    <li><a href="{{ path('demandeachat') }}">Liste des demandes d'achat</a></li>
                    {% if  is_granted("ROLE_VENTE_CREDIT") %}
                        <li><a href="{{ path('ficheouverturecredit') }}">Liste des fiches d'ouverture</a></li>
                    {% endif %}
                    {% if  is_granted("ROLE_SUPER_ADMIN") %}
                        <li><a href="{{ path('gsp_proformat_mode_paiement') }}">Ajouter un mode de paiement</a></li>
                    {% endif %}
                </ul>
            </li>
            {% if  is_granted("ROLE_VENTE_CASH") or is_granted("ROLE_VENTE_CREDIT") %}
                <li class="treeview">
                    <a href=""><i class="fa fa-link"></i>
                        <span>CAPITALISATION{{ render(controller('GSPBundle:DemandeAchat:demandeRupture')) }}</span> <i
                                class="fa fa-angle-left pull-right"></i></a>

                    <ul class="treeview-menu">
                        <li>
                            <a href="{{ path('demandeachat_capitalisation') }}">
                                Liste
                            </a>
                        </li>
                        {% if  is_granted("ROLE_DG") %}
                            <li>
                                <a href="{{ path('gsp_rupture_contrat_list') }}">
                                    Demandes de rupture de
                                    contrat{{ render(controller('GSPBundle:DemandeAchat:demandeRupture')) }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    {#<ul class="treeview-menu">#}
                    {#<li><a href="{{ path('demandeachat') }}">Liste des demandes d'achat</a></li>#}
                    {#</ul>#}
                </li>
            {% endif %}
            {% if  is_granted("ROLE_VENTE") %}
                <li class="treeview">
                    {# Ceci est un test#}
                    <a href="#"><i class="fa fa-link"></i>
                        <span>PROFORMATS  &nbsp;&nbsp;&nbsp;
                            {{ render(controller('GSPBundle:ProFormat:demandeModificationEcheancier')) }}
                        </span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        {% if  is_granted("ROLE_VENTE_CASH") or is_granted("ROLE_VENTE_CREDIT") or is_granted("ROLE_COMPTABILITE") %}
                            <li><a href="{{ path('gsp_proformat_index') }}">Liste des proformats</a></li>
                        {% endif %}
                        {% if  is_granted("ROLE_DG") %}
                            <li>
                                <a href="{{ path('gsp_proformat_demande_modif') }}">
                                    Demandes de modification &nbsp;&nbsp;&nbsp;
                                    {{ render(controller('GSPBundle:ProFormat:demandeModificationEcheancier')) }}
                                </a>
                            </li>
                        {% endif %}
                        {% if  is_granted("ROLE_DFC") %}
                            <li>
                                <a href="{{ path('demandevalidationproformat') }}">
                                    <span>Validation proformat en attente</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                {% if is_granted("ROLE_JURISTE") %}
                    <li><a href="#"><i class="fa fa-bars"></i>
                            <span>DOSSIERS JURISTES</span>
                            <span>
                                &nbsp;&nbsp;&nbsp;
                                {{ render(controller('GSPBundle:ProFormat:dossierJuristeEnAttente')) }}
                            </span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="{{ path('gsp_proformat_dossier_jursite_list') }}">
                                    En attente
                                    <span class="pull-right">
                                        &nbsp;&nbsp;&nbsp;
                                        {{ render(controller('GSPBundle:ProFormat:dossierJuristeEnAttente')) }}
                                    </span>
                                </a>
                            </li>
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <li>
                                    <a href="{{ path('gsp_proformat_dossier_jursite_histo_list') }}">
                                        Consulter l'historique
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if is_granted("ROLE_COMPTABILITE") %}
                <li class="treeview">
                    <a href="#"><i class="fa fa-link"></i> <span>DEVIS</span> <i
                                class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('devisformalites') }}">Devis formalités</a></li>
                        <li><a href="{{ path('devisserviceapresvente') }}">Devis services additionnels</a></li>
                    </ul>
                </li>
                {% endif %}

               {# <li><a href="{{ path('convention') }}"><i class="fa fa-link"></i> <span>CONVENTION DE PARTENARIAT</span></a>
                </li>#}

                {#<li><a href="{{ path('vente_contrat') }}"><i class="fa fa-link"></i> <span>CONTRAT</span></a></li>#}
                {#<li><a href="{{ path('vente_reglement') }}"><i class="fa fa-link"></i> <span>Règlements</span></a></li>#}

                {% if is_granted("ROLE_ADMIN") %}
                    <li><a href="{{ path('gsp_fichemodele_index') }}"><i class="fa fa-edit"></i>
                            <span>MODELES DE FICHE</span></a></li>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_COMPTABILITE") %}
                    <li><a href="{{ path('gsp_recette_index') }}"><i class="fa fa-money"></i>
                            <span>RECETTES DE LA JOURNEE</span></a></li>
                {% endif %}
            {% endif %}
        </ul><!-- /.sidebar-menu -->
    {% endif %}
    {% if is_granted("ROLE_ADMIN") %}

        <ul class="sidebar-menu">
            <li class="header">Administrateur</li>
            <!-- Optionally, you can add icons to the links -->
            <li><a href="{{ path('grh_bondecommande_rapportlu') }}"><i class="fa fa-check-circle"></i>RAPPORTS LUS</a>
            </li>
            <li><a href="{{ path('gsp_gestion_roles_validations') }}"><i class="fa fa-check-circle"></i>DEMANDES</a>
            </li>
            {% if is_granted("ROLE_SUPER_ADMIN") %}

            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>STANDARD</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('datebutoirebondecommande_edit',{ 'id':1 }) }}">DATE BUTOIR</a></li>
                    <li><a href="{{ path('admin_direction') }}">DIRECTION</a></li>
                    <li><a href="{{ path('admin_service') }}">SERVICE</a></li>
                    <li><a href="{{ path('commune') }}">COMMUNE</a></li>
                    <li><a href="{{ path('arrondissement') }}">ARRONDISSEMENT</a></li>
                    <li><a href="{{ path('zone') }}">ZONE</a></li>
                    <li><a href="{{ path('quartier') }}">QUATIER</a></li>
                    <li><a href="{{ path('typevoie') }}">TYPE VOIE</a></li>
                    <li><a href="{{ path('typesol') }}">TYPE SOL</a></li>
                    <li><a href="{{ path('typecloture') }}">TYPE CLOTURE</a></li>
                    <li><a href="{{ path('admin_typebien') }}">TYPE BIEN</a></li>
                    <li><a href="{{ path('nature') }}">NATURE BIEN</a></li>
                    <li><a href="{{ path('admin_typecommande') }}">TYPE COMMANDE</a></li>
                    <li><a href="{{ path('admin_levetopographique') }}">LEVE TOPOGRAPHIQUE</a></li>
                    <li><a href="{{ path('admin_codeconfidentialite') }}">CODE CONFIDENTIALITE</a></li>
                    <li><a href="{{ path('admin_fraisdilligence') }}">FRAIS DILIGENCE</a></li>
                    <li><a href="{{ path('admin_suiviautrefrais') }}">SUIVI AUTRES FRAIS</a></li>


                </ul>
            </li>

            {% endif %}

        </ul><!-- /.sidebar-menu -->


    {% endif %}
    {% if  is_granted("ROLE_PROCEDURE") %}
        <ul class="sidebar-menu">
            <li class="header">Gestion des procédures</li>
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>SANCTIONS</span> <i
                            class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('gsp_sanctions_index') }}">Liste des sanctions</a></li>
                    <li><a href="{{ path('gsp_sanction_new') }}">Enregistrer une sanction</a></li>

                </ul>
            </li>

        </ul><!-- /.sidebar-menu -->

        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>DECISIONS</span> <i
                            class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('gsp_decisions_index') }}">Liste des décisions</a></li>
                    <li><a href="{{ path('gsp_decision_new') }}">Enregistrer une décision</a></li>

                </ul>
            </li>

        </ul><!-- /.sidebar-menu -->

        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>NOTES DE SERVICE</span> <i
                            class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('gsp_notes_index') }}">Liste des notes de service</a></li>
                    <li><a href="{{ path('gsp_note_new') }}">Enregistrer une note de service</a></li>
                    <li><a href="{{ path('gsp_notes_read') }}">Notes de service lues</a></li>

                </ul>
            </li>

        </ul><!-- /.sidebar-menu -->


        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>PROCESS</span> <i
                            class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('gsp_process_index') }}">Liste des process</a></li>
                    <li><a href="{{ path('gsp_process_new') }}">Enregistrer un nouveau process</a></li>

                </ul>
            </li>

        </ul><!-- /.sidebar-menu -->

        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>PROCEDURES</span> <i
                            class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('gsp_procedure_review') }}">Procédures révisées</a></li>
                    <li><a href="{{ path('gsp_procedure_new') }}">Créer une nouvelle procédure</a></li>
                    <li><a href="{{ path('gsp_procedures_index') }}">Liste des procédures</a></li>
                    {#<li><a href="{{path('notes_de_service')}}">NOTES DE SERVICE</a></li>#}
                    {#<li><a href="{{path('decision')}}">DECISIONS</a></li>#}


                </ul>
            </li>

        </ul><!-- /.sidebar-menu -->
    {% endif %}

    {% if  is_granted("ROLE_MATERIEL") %}
        <ul class="sidebar-menu">
            <li class="header">Gestion des matériels</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i>
                    <span>MATERIELS</span> 
                    <span class="pull-right">
                    <span class="badge label-danger"> </span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('gsp_materiel_index') }}">Liste des matériels</a></li>
                    {#<li><a href="{{ path('gsp_sanction_new') }}">Enregistrer une sanction</a></li>#}

                </ul>
            </li>

        </ul><!-- /.sidebar-menu -->
    {% endif %}

    {% if  is_granted("ROLE_DOTATION") %}
        <ul class="sidebar-menu">
            <li class="header">Gestion des dotations et des prêts</li>
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>DOTATIONS</span> <i
                            class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('gsp_dotation_index') }}">Liste des dotations</a></li>
                    {#<li><a href="{{ path('gsp_sanction_new') }}">Enregistrer une sanction</a></li>#}

                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>PRETS</span> <i
                            class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('gsp_pret_index') }}">Liste des prêts enregistrés</a></li>
                    {#<li><a href="{{ path('gsp_sanction_new') }}">Enregistrer une sanction</a></li>#}

                </ul>
            </li>

            


        </ul>
    {% endif %}
    {% if is_granted("ROLE_COURRIER") %}
        <u class="sidebar-menu">
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>GESTION COURRIER</span> <i
                            class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{path('courrier_list')}}" >Tous les courriers</a></li>
                    <li><a href="{{path('courrier_notassigned_list')}}" >Nouveaux courriers</a></li>
                    <li><a href="{{path('courrier_assigned_list')}}" >Courriers transférés</a></li>
                    <li><a href="{{path('courrier_myreception_list')}}" >Réception de courriers</a></li>
                    <li><a href="{{path('courrier_myreceived_list')}}" >Mes courriers réceptionnés</a></li>
                    <li><a href="{{path('courrier_myreceived_done_list')}}" >Mes courriers traités</a></li>
                    <li><a href="{{path('all_given_instruction_list')}}" >Instructions données</a></li>
                    <li><a href="{{path('all_received_instruction_list')}}" >Instructions reçues</a></li></ul>
            </li>
        </u>
    {% endif %}
{% endblock %}
		