<style>
@import url("{{ asset('bundles/GSPBundle/bootstrap/css/bootstrap.min.css') }}");
@import url("{{ asset("bundles/GSPBundle/dist/css/AdminLTE.min.css") }}");
ul{
    list-style:none;
    padding:0px;
}
</style>
<div id="chgpwd" class="content">
    {% if success  is defined%}
        <div class="callout callout-success">
            {{success|raw}}
        </div>
    {%else%}
              
        
    {{ form_start(form,{"method":"POST","action":path("grh_prestataire_change_password")})}}
    <div class="row">
        <div class="col-lg-12">
             <br/>
            {%if form_errors(form.current_password) is not empty %}
                <div class="alert alert-danger">
                {{ form_errors(form.current_password) }}
                </div>
                {% endif %}
            {{ form_label(form.current_password) }}
            {{ form_widget(form.current_password,{'attr':{'class':'form-control','placeholder':'atuel mot de passe'} }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
             <br/>
            {%if form_errors(form.plainPassword.first) is not empty %}
                <div class="alert alert-danger">
                {{ form_errors(form.plainPassword.first) }}
                </div>
                {% endif %}
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first,{'attr':{'class':'form-control','placeholder':'nouveau mot de passe'} }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
             <br/>
            {%if form_errors(form.plainPassword.second) is not empty %}
                <div class="alert alert-danger">
                {{ form_errors(form.plainPassword.second) }}
                </div>
                {% endif %}
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second,{'attr':{'class':'form-control','placeholder':'confirmer mots de passe'} }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-right">
            <br/>
            {{ form_widget(form.submit,{"label":"Valider",'attr':{'class':'btn btn-success'} }) }}
        </div>
    </div>
    
    {{ form_end(form) }}
    {%endif%}
    <script src="{{asset('bundles/GSPBundle/plugins/jQuery/jQuery-2.1.4.min.js')}}"></script>
    <script src="{{asset('bundles/GSPBundle/plugins/slimScroll/jquery.slimscroll.js')}}"></script>
    <script>
        $("#chgpwd").slimScroll({'railOpacity': .4,"height":340});
    </script>
    
</div>
