{% extends "FadcoBundle:Default:menu.html.twig" %}
{% block content %}

    <h1>Liste des Prestataires </h1>
    <section class="content">
        <div align="right">
            <a href="{{ path('grh_prestataire_new', {'id': id }) }}"><button type="button" class="btn btn-success">Ajouter un nouveau prestataire </button></a>
        </div>

        <div class="box box-primary">
            <div class="box-header with-border">

                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="box-body table-responsive">
                    <table id="lstprestataire" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Agence</th>
                            <th>Droit</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('grh_prestataire_voir', { 'id': entity.id }) }}">{{ entity.id }}</a></td>

                                <td>{{ entity.nom }}</td>
                                <td>{{ entity.prenom }}</td>
                                <td>{% if entity.agence %}{{ entity.agence.libelle }}{% endif %}</td>
                                <td> {{ contro.getRoleExpression(entity)|raw }} </td>
                                <td>
                                    <div class="input-group btn">
                                        <button type="button" class="btn btn-success btn-xs  dropdown-toggle pull-right" data-toggle="dropdown">
                                            Actions  <span class="fa fa-caret-down"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="{{ path('grh_prestataire_voir', { 'id': entity.id }) }}">Afficher</a>
                                            </li>
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <li>
                                                <a href="{{ path('grh_prestataire_new', { 'id': entity.id }) }}">Modifier</a>
                                            </li>
                                                <li>
                                                    <a class="change_rigth" href="{{ path('rigth_change', { 'userId': entity.id,'option':'add' }) }}">Ajouter des roles</a>
                                                </li>
                                                <li>
                                                    <a class="change_rigth" href="{{ path('rigth_change', { 'userId': entity.id,'option':'delete' }) }}">Enlever des roles</a>
                                                </li>
                                                {% if entity.enabled == 1 %}
                                                    <li>
                                                        <a href="{{ path('grh_prestataire_desactive', { 'id': entity.id }) }}">Désactiver le compte</a>
                                                    </li>
                                                {% else %}
                                                    <li>
                                                        <a href="{{ path('grh_prestataire_active', { 'id': entity.id }) }}">Activer le compte</a>
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="box box-primary">
            
            <div class="box-body">
                <div align="right">
                    <a href=""><button type="button" class="btn btn-success">Retour </button></a>
                </div>
            </div>
        </div>
    </section> 
    <script src="{{asset('bundles/FadcoBundle//plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('bundles/FadcoBundle/plugins/datatables/dataTables.bootstrap.min.js')}}"></script>

    <script>
     $('.change_rigth').click(function(e) {
            e.preventDefault();

            var button  = $(e.target);

            $('#detail-affectation .modal-body').html($('#loading-classement').html());
            $('#detail-affectation').modal('show');
            $.ajax({
                url : button.attr('href'),
                type : 'GET',
                dataType : 'html',
                success : function(code_html, statut){
                    $('#detail-affectation .modal-body').html(code_html);
//                    showdetailaffectation(code_html);
                },
                error : function(resultat, statut, erreur){
                    $('#detail-affectation .modal-body').html('Erreur de chargement : '+statut);
                }
            });

        });

        $('button[type="submit"]').click(function(){
            $('#detail-affectation').modal('hide');
        });
        
     </script>


    <script>
        $(function () {
            $('#lstprestataire').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": false,
                "autoWidth": true,
                "language": {"paginate": {"previous": "Précédent", "next": "Suivant"}, "search": "Rechercher: ",
                    "emptyTable": "Actu La Base Des Communes Est Vide", "zeroRecords": "Aucune correspondance trouvee a votre recherche...Merci!!!."}
            });
        });
    </script>    
{% endblock %}
