{% extends "FadcoBundle:Default:menu.html.twig" %}
{% block page_quick_actions %}
    <div>
        <a href="{{ path('grh_prestataire') }}"><input type="button" class="btn btn-warning btn-xs"value="Retour"/></a>
        <a href="{{ path('grh_prestataire_new', {'id': null }) }}"><input type="button" class="btn btn-info btn-xs"value="Ajouter un nouveau distributeur"/></a>
    </div>
{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('bundles/GSPBundle/plugins/bootstrap-slider/last/bootstrap-slider.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/GSPBundle/plugins/jQueryfiler/css/jquery.filer.css') }}">
{% endblock %}

{% block content %}
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <h1 class="box-title">Liste des distributeurs </h1>

                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="table-responsive mailbox-messages">
                  <table id="lstprestataire" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="text-align: center;">N°</th>
                            <th style="text-align: center;">Nom</th>
                            <th style="text-align: center;">Prenom</th>
                            <th style="text-align: center;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td style="text-align: center;"><a href="{{ path('grh_prestataire_voir', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td style="text-align: center;">{{ entity.nom }}</td>
                                <td style="text-align: center;">{{ entity.prenom }}</td>
                                <td style="text-align: center;">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success btn-xs dropdown-toggle"
                                                data-toggle="dropdown">Action<span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">   
                                            <li>
                                                <a href="{{ path('grh_prestataire_voir', { 'id': entity.id }) }}">Afficher</a>
                                            </li>
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <li>
                                                    <a href="{{ path('crediter_compte_distributeur', { 'id': entity.id }) }}">Créditer ce compte</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('grh_prestataire_new', { 'id': entity.id }) }}">Modifier</a>
                                                </li>
                                                <li>
                                                    <a class="change_rigth" href="{{ path('rigth_change', { 'userId': entity.id,'option':'add' }) }}">Ajouter des roles</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a class="change_rigth" href="{{ path('rigth_change', { 'userId': entity.id,'option':'delete' }) }}">Enlever des roles</a>
                                                </li>
                                                {% if entity.enabled == 1 %}
                                                    <li>
                                                        <a href="{{ path('grh_prestataire_desactive', { 'id': entity.id }) }}">Désactiver le compte</a>
                                                    </li>
                                                {% else %}
                                                    <li>
                                                        <a href="{{ path('grh_prestataire_active', { 'id': entity.id }) }}">Activer le compte</a>
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table style="width: 10%;" class="table">
                            <tr>
                                {#<td><input type="submit" class="btn btn-primary btn-xs" value="Enregistrer"/></td>#}
                                <td><a href="{{ path('grh_prestataire') }}"><input type="button" class="btn btn-warning btn-xs"value="Retour"/></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{{ asset('bundles/GSPBundle/plugins/datatables/jquery.dataTables.min.js') }}"></script>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/GSPBundle/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>

    <script src="{{ asset('bundles/GSPBundle/style/jquery.accordDate.js') }}"></script>
    <script src="{{ asset('bundles/GSPBundle/plugins/bootstrap-slider/last/bootstrap-slider.min.js') }}"></script>
    <script src="{{ asset('bundles/GSPBundle/plugins/jQueryfiler/js/jquery.filer.min.js') }}"></script>
    <script>
     $('.change_rigth').click(function(e) {
            e.preventDefault();

            var button  = $(e.target);

            $('#detail-affectation .modal-body').html($('#loading-classement').html());
            $('#detail-affectation').modal('show');
            $.ajax({
                url : button.attr('href'),
                type : 'GET',
                dataType : 'html',
                success : function(code_html, statut){
                    $('#detail-affectation .modal-body').html(code_html);
//                    showdetailaffectation(code_html);
                },
                error : function(resultat, statut, erreur){
                    $('#detail-affectation .modal-body').html('Erreur de chargement : '+statut);
                }
            });

        });

        $('button[type="submit"]').click(function(){
            $('#detail-affectation').modal('hide');
        });
        
     </script>
{% endblock %}

