{% extends "FadcoBundle:Prestataire:layout.html.twig" %}

{% block title %}FADCO+ : Admin{% endblock %}

{% from 'FadcoBundle:Distributeur:macros.html.twig' import countbox %}
{% from 'FadcoBundle:Distributeur:macros.html.twig' import countbox2 %}
{% from 'FadcoBundle:Distributeur:macros.html.twig' import countbox3 %}
{% from 'FadcoBundle:Distributeur:macros.html.twig' import chartbox %}

{% block content %}
    <div class="row">
        {{ countbox('Nombre de réabonnement direct', data.nbrereabonnementdirect, 'bg-green', 'fa-home') }}
        {{ countbox('Nombre d\'installation ou réparation', data.nbreprestation, 'bg-blue', 'fa-home') }}
    </div>

    <section class="content">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h1 class="box-title">
                    {% if type == "vente" %}
                        Total des ventes par période et par distributeur
                    {% else %}
                        Nombre d'abonnés par formules activées (Access, Access+, Evasion, Evasion+, Tout canal)
                    {% endif %}
                </h1>

                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                {% if type == "vente" %}
                    {{ render(controller('FadcoBundle:Statistique:venteTotalByDistributeurAndPeriod', {'startDate': from, 'endDate': to, 'type': type, 'nom': nom, 'prenom': prenom })) }}
                {% else %}
                    {{ render(controller('FadcoBundle:Statistique:nbrAbonneByFormule', {'startDate': from, 'endDate': to })) }}                
                {% endif %}
            </div>
        </div>
    </section>
     <script src="{{ asset('bundles/FadcoBundle/plugins/datatables/jquery.dataTables.min.js') }}"></script>
{% endblock %}
{#
{% block javascript %}
    {{ parent() }}
{% endblock %}
#}
