{#<link rel="stylesheet" href="{{asset('bundles/FadcoBundle/plugins/select2/select2.min.css')}}" />#}
<link rel="stylesheet" href="{{asset('bundles/FadcoBundle/plugins/datepicker/datepicker3.css')}}" />
<link rel="stylesheet" href="{{ asset('bundles/FadcoBundle/Materiel/css/materiel.css') }}"/>
<div id="formModal" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div id = "formContentBox"></div>
        </div>
    </div>
</div>

<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
    {# Remplacer l'effet 'mode hide' par 'modal fade' pour voir le favicon d'attente#}
    {#<div class="modal-header"><h1>Veillez patientez...</h1></div>#}
    <div class="modal-body" style="position:absolute;
                                    left: 50%;
                                    top: 50%;
                                    width: 200px;
                                    /*height: 200px;*/
                                    margin-left: -100px;
                                    margin-top: -100px;
                                    background-color: rgba(0, 0, 0, 0);
                                    ">
        <div class="progress progress-striped active" style="text-align: center; height: 100px; background-color: rgba(0, 0, 0, 0);">
            <div class="bar">
                <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw" style="color: #f5f5f5;"></i>
                {#<span class="sr-only">Veillez patienter...</span>#}
            </div>
        </div>
    </div>
</div>
<script src="{{asset('bundles/FadcoBundle/plugins/datepicker/bootstrap-datepicker.js')}}"></script>
<script src="{{asset('bundles/FadcoBundle/plugins/datepicker/locales/bootstrap-datepicker.fr.js')}}"></script>
