{% extends "GSPBundle:IndicateurPerformance:layout.html.twig" %}
{% from 'GSPBundle:IndicateurPerformance:macros.html.twig' import countbox %}
{% from 'GSPBundle:IndicateurPerformance:macros.html.twig' import countbox2 %}
{% from 'GSPBundle:IndicateurPerformance:macros.html.twig' import countbox3 %}
{% from 'GSPBundle:IndicateurPerformance:macros.html.twig' import chartbox %}
{% from 'GSPBundle:IndicateurPerformance:macros.html.twig' import tabbedchartbox %}

{% block title %}Performance de la DSC{% endblock %}

{% block content %}

    <div class="row">
        {{ countbox('Nouveaux clients reçus', nonbreNouveauVisiteur, 'bg-primary', 'fa-users') }}
        {{ countbox('Anciens clients reçus', nonbreAncienVisiteur, 'bg-yellow', 'fa-users') }}
        {{ countbox('Clients ont reçu un proformat', nbclientrecuproformat, 'bg-blue', 'fa-users') }}
        {{ countbox('Nombre de client ayant Visité',nbvisitedclient, 'bg-orange', 'fa-users') }}
        {{ countbox('Paiements effectués', 0, 'bg-green', 'fa-users') }}   
    </div>  

    <div class="row">
        <div class="col-sm-12">
            {{ tabbedchartbox("Clients en attentes de bien non encore disponible", {
                    "Caractéristiques": caracteristiquesChart,
                    "Budgets": budgetsChart,
                    "Zones": zonesChart,
                }, "primary")
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {{ chartbox('Clients reçus par les canaux de com', canauxchart, 'primary') }}
            {{ chartbox('Clients reçus par direction', chartClientRecuParDirection, 'primary') }}
        </div>
        <div class="col-sm-6">
            {{ chartbox('Satisfaction des clients après visite', satisfactionChart, 'success') }}
        </div>
    </div>        
{% endblock %}