{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    <div class="col-sm-offset-3 col-sm-6" id="first-part">

        {#<span>&nbsp;</span>{{ form_errors(form.current_password) }}#}
        {#<div class="form-group" >#}
            {#<label class="input-group-addon"><i class="fa fa-user"></i></label>#}
            {#{{ form_widget(form.current_password,{'attr':{'class':'form-control','placeholder':'actuel mot de password'} }) }}#}
        {#</div>#}

        {#<span>&nbsp;</span>{{ form_errors(form.current_password) }}#}
        {#<span>&nbsp;</span>#}
        {#<div class="form-group" >#}
            {#<label class="input-group-addon"><i class="fa fa-user"></i></label>#}
            {#<input type="password" id="fos_user_change_password_form_current_password" name="fos_user_change_password_form[current_password]" required="required" class="form-control" placeholder="mot de passe actuelle" />#}
        {#</div>#}
        {##}

        {#<span>&nbsp;</span>{{ form_errors(form.plainPassword) }}#}

            {#<div id="fos_user_change_password_form_plainPassword">#}
                {#<div class="form-group" >#}
                    {#<label class="input-group-addon"><i class="fa fa-user"></i></label>#}
                    {#<input type="password" id="fos_user_change_password_form_plainPassword_first" class="form-control" name="fos_user_change_password_form[plainPassword][first]" required="required" placeholder="nouveau passe"/>#}
                {#</div>#}
                {#<div class="form-group" >#}
                    {#<label class="input-group-addon"><i class="fa fa-user"></i></label>#}
                    {#<input type="password" id="fos_user_change_password_form_plainPassword_second" class="form-control" name="fos_user_change_password_form[plainPassword][second]" required="required" placeholder="confirmer"/>#}
                {#</div>#}
            {#</div>#}
        {#<div>#}
            {#<input type="hidden" id="fos_user_change_password_form__token" name="fos_user_change_password_form[_token]" value="ijWe0xn0teKjI83_5x9xekuwZ8WpwVEejydZDoaQR2I" />#}
            {#<input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-success"/>#}
            {#<input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-success"/>#}
        {#</div>#}


        {#{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}#}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
        {{ form_end(form) }}

    </div>
</form>
