<html>
      <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}G S P  Manager{% endblock %}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="icon" href="{{ asset('bundles/GSPBundle/globalsevice.ico') }}" type="image/x-icon" />
  {% block stylesheet %}
  <link rel="stylesheet" href="{{ asset('bundles/GSPBundle/bootstrap/css/bootstrap.min.css') }}">  
  <link rel="stylesheet" href="{{ asset('bundles/GSPBundle/font-awesome/css/font-awesome.min.css') }}">
  {#<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>#}
  <link rel="stylesheet" href="{{ asset('bundles/GSPBundle/dist/css/AdminLTE.min.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/GSPBundle/dist/css/skins/skin-blue.min.css') }}">
   <link rel="stylesheet" href="{{ asset('bundles/GSPBundle/plugins/select2/select2.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/GSPBundle/filetype-icon-style.css') }}">
  
  {% endblock %}
  <script src="{{asset('bundles/GSPBundle/plugins/jQuery/jQuery-2.1.4.min.js')}}"></script>
  <script src="{{ asset('bundles/GSPBundle/plugins/select2/select2.full.min.js') }}"></script>

</head>
<body class="hold-transition skin-blue sidebar-mini">
   <div class="wrapper">
    <header class="main-header">

  
       
    <a href="{{path('GSP_home')}}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><img src="{{ asset('bundles/GSPBundle/globalsevice.png') }}" style="width:50px;" class="img-circle" alt="fiacre" /></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img src="{{ asset('bundles/GSPBundle/globalsevice.png') }}" style="width:70px;" class="img-circle" alt="fiacre" />GSP Manager</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
	  
	  {% block button_menu %}
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
	  {% endblock %}
	  
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          
                {% block notification %}
                        {{ render(controller('GSPBundle:GestionDesAlertes:notifications')) }}
                {% endblock %}
        
		{% block userProfil %}
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
			  {% block userImg %}
                              <img src=" {% if app.user.photo is empty %} {{ asset('bundles/GSPBundle/images/avatar.png') }} {% else %} {{asset( app.user.WebPhoto )}} {% endif %}" class="user-image" alt="User Image">
                          {% endblock %}
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">{% block user %}
				  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					{{app.user.nom|upper}}  {{app.user.username }}
                {#<a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>#}
            {% else %}
			
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}{% endblock%}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
				{#% use  'dash.html.twig' with userImg as userImag2 %#}
				
                <img src="{% if app.user.photo is empty %} {{ asset('bundles/GSPBundle/images/avatar.png') }} {% else %} {{asset( app.user.WebPhoto )}} {% endif %}" class="img-circle" alt="User Image">

                <p>
                  {% block userrr %}
				  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.nom|upper ~ ' '~app.user.username}, 'FOSUserBundle') }} 
                
				{% else %}
				{% endif %}{% endblock%}
                                <small>Membre depuis {{ app.user.datEntre|date("j/m/Y") }}</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  {#<div class="col-xs-5 text-center">
                    <a href='{{path("grh_prestataire_edit")}}'>Modifier Profile</a>
                  </div> #}
                  <div class=" col-xs-offset-2 col-xs-5 text-center">
                    <a href="#" data-toggle="modal" data-target="#UserPasswordChange" >Changer mot de passe</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{{ path('grh_prestataire_show',{'id':app.user.id}) }}" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                </div>
              </li>
            </ul>
          </li>
          {% endblock %}
        </ul>
      </div>
	
	</nav>
  </header>

   {% block menu_gauche %}
  <aside class="main-sidebar">

    <section class="sidebar">

      {% block pannel %}
      <div class="user-panel">
        <div class="pull-left text-lime">
          <p>{{app.user.nom|upper ~ ' '~app.user.username}}</p>
          
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      {% endblock %}
      
		
      {% block sidebar %}
      
      {% endblock %}
	  
    </section>
    
  </aside>
    
 {% endblock %}
 
 
 {% block container %}
  <div class="content-wrapper">
    
    <section class="content-header">
	{% block header_content %}
      <h1>
      <center>
         G.S.P | Manager
      </center>
      </h1>
	{% endblock %}
    </section>
	
    
    <section class="content">
    {% block content %}
      
    {% endblock %}
    </section>
	
  </div>
{% endblock %}

{% block footer %}
  <footer class="main-footer">
      <!-- Modal -->
<div class="modal fade" id="UserPasswordChange" tabindex="-1" role="dialog" aria-labelledby="UserPasswordChangeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="UserPasswordChangeModalLabel">Change le mot de passe</h4>
      </div>
          <iframe id="chpwd" src="{{path('grh_prestataire_change')}}" target="none" class="modal-body" width="100%" height="400" scrolling="auto" frameborder="0">
              
          </iframe>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
          <!-- modal pour afficher une information -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    
                </div>
                </div><!-- /.modal-content -->
        </div>
        </div>
         <!-- /.modal-div -->
        <span class="hide" id="load"> <center><img  src="{{ asset('bundles/GSPBundle/load.gif') }}" ></center></span>
    <div class="pull-right hidden-xs">
      Tous droits réservés.
    </div>
    <strong>Copyright &copy; 2015 Global Services Plus | GSP Manager</strong> 
  </footer>
{% endblock %}

 </div>

{% block javascript %}
	 <script src="{{asset('bundles/GSPBundle/bootstrap/js/bootstrap.min.js')}}"></script>
    <!-- AdminLTE App -->
    <script src="{{asset('bundles/GSPBundle/dist/js/app.min.js')}}"></script>
    <script src="{{asset('bundles/GSPBundle/style/jquery.accordDate.js')}}"></script>
     <script src="{{asset('bundles/GSPBundle/plugins/moment/moment-with-locales.js')}}"></script>
    <script>
                        function rafraichir()
                        { 
                            $.ajax({
                                  url : '{{path('alertes_raflaichir',{ 'id':app.user.Id})}}',
                                  type : 'GET',
                                  dataType : 'html',
                                  success : function(code_html, statut){
                                          $('.messages-menu').html(code_html);
                                          rafraichir();
                                  },
                                  error : function(resultat, statut, erreur){
                                        rafraichir();
                                  }
                               }); 
                        } 
        moment.locale('fr'); 
        $('.datenotification').each(function (index, value) { 
             
        var date = moment([parseInt($(this).attr('annee')),parseInt($(this).attr('mois'))-1, parseInt($(this).attr('jour')), parseInt($(this).attr('heure')),parseInt($(this).attr('minute')), parseInt($(this).attr('second')),0]).fromNow();
          $(this).html('&nbsp;'+date);
        });
        
        
         $('.alerte-lien').click(function(e){
                    e.preventDefault();

                    $('#myModal .modal-title').html('NOTIFICATION');
                    $('#myModal .modal-body').html('<div class="row"> <div class="col-md-4">'+$(this).find('.alerte-image').html()+'</div><div class="col-md-7"><div><b>'+$(this).find('.alerte-username').html()+'  </b>'+$(this).find('.alerte-message').html()+'</div><p></p><b><u style="color:#00BFFF">'+$(this).find('.alerte-moment').html()+'</u></b></div></div>');
                     $('#myModal .modal-footer').html('<center><a class="btn  btn-primary" href="'+$(this).attr('href')+'">Consulter</a></center>');
                    $('#myModal').modal('show');
                    $.ajax({
                        url : $(this).attr('alerte-lu'),
                        type : 'GET',
                        dataType : 'html',
                        success : function(code_html, statut){
                                
                        },
                        error : function(resultat, statut, erreur){
                                
                        }
                      


                     });  
                });   
         
        
    $('#parentDate').accordDate({
            "day":"[name*=day]",
            "month":"[name*=month]",
            "year":"[name*=year]",
            "lengthYear":100
        });
           $(function(){
                $('.detail-btn').click(function(e){
                    e.preventDefault();

                    $('#myModal .modal-title').html($(this).attr('titre'));
                    $('#myModal .modal-body').html($('#load').html());
                    $('#myModal').modal('show');
                    $.ajax({
                        url : $(this).attr('href'),
                        type : 'GET',
                        dataType : 'html',
                        success : function(code_html, statut){
                                $('#myModal .modal-body').html(code_html);
                        },
                        error : function(resultat, statut, erreur){
                                $('#myModal .modal-body').html('Erreur de chargement : '+statut);
                        }



                     });
                });
            $("#dashline li").not(":last-child").removeClass("active");
            $("#dashline li").last().addClass("Active");
            //$("#chpwd").slimScroll();
        });
        
   // rafraichir();
        
        </script>
{% endblock %}

</body>
</html>