<script type="text/javascript"  src="{{ asset('bundles/lc/multiselect/js/jquery.multi-select.js') }}"></script>
<style type="text/css">
	@import url("{{ asset('bundles/lc/multiselect/css/multi-select.css') }}");
</style>

<script type="text/javascript">
	
	//variables predefinies et fonctions
	var json = "json";
        
        isInChat = true;
        
        var running = false;
        
        function scrollChatRoom(){
            var elem = document.getElementById('main_room');
            elem.scrollTop = elem.scrollHeight;
        }
        
        function startInterval(){
            if(!running) timerNouveauxMessages = setInterval(getNouveauxMessages, 5000);
            running = true;
        }
        
        function stopInterval(){
            if(running) clearInterval(timerNouveauxMessages);
            running = false;
        }
        
	var lesDiscussionNoveauxMsg = "";

	function noSession(code){
		return code == "!S";
	}

	function noPost(code){
		return code == "!P";
	}

	function noParam(code){
		return code == "!PA";
	}

	function isExeption(code){
		return code == "EX";
	}

	function isSucces(code){
		return code == "OK";
	}	

</script>


<div hidden="hidden">
	<audio id="room_beep" src="{{ asset('bundles/lc/audio/room.mp3') }}" preload="auto"></audio>
	<audio id="disc_beep" src="{{ asset('bundles/lc/audio/disc.mp3') }}" preload="auto"></audio>
</div>

<div class="container-fluid">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				<div class="row" id="entete">
			        <div class="col-xs-4">
			            <h1 class=""><img style="width: 50px" src="{{ asset('bundles/lc/images/chatlogo.jpeg') }}"/> LChat</h1>
			        </div>
			        <div class="col-xs-8 container-fluid">            			
            			<div class="row" id="menu_contacts">
                                    <div class="btn-group pull-right">
                                        <button onclick="actualiserLIsteContacts();" type="button" class="btn btn-default" data-toggle="bottom" title="Actualiser la liste des contacts">
                                            <span class="glyphicon glyphicon-refresh"></span>
                                        </button>
                                    </div>
            			</div>
            			<div class="row" id="menu_discussions">
            				<div class="btn-group pull-right">
                                            <button onclick="actualiserLIsteDiscussions();" type="button" class="btn btn-default" data-toggle="bottom" title="Actualiser la liste des discussions">
						<span class="glyphicon glyphicon-refresh"></span>
                                            </button>
                                            <button onclick="afficherFormNouvelleDiscussion();" type="button" class="btn btn-default" data-toggle="bottom" title="Créer une nouvelle discussion">
						<span class="glyphicon glyphicon-plus"></span>
                                            </button>
					</div>
            			</div>
        			</div>
    			</div>
			</h3>
		</div>
		<div class="panel-body">
			<div class="row">
            	<div class="tabbable"> 
            		<ul class="nav nav-tabs nav-justified">
            			<li class="active"><a href="#discussions-tab-pane" data-toggle="tab"><u>
            				<h4>Discussions <span id="nb_dicussion" class="badge" style="background-color: green"></span></h4>
            			</u></a></li>
               			<li><a href="#contacts-tab-pane" data-toggle="tab"><u>
               				<h4>Contacts</h4>
               			</u></a></li>
               		</ul>
            		<div class="tab-content" style="max-height: 300px; overflow-y: scroll;">
             			<div class="tab-pane active" id="discussions-tab-pane">
                    		<div class="container-fluid" id="les_discussions">
                    			                           
                    		</div>
                    		<div class="container-fluid" id="discussion_room">
                    			<div class="row-fluid">
                            
                    			</div>                            
                    		</div>
                    	</div>
                    	<div class="tab-pane" id="contacts-tab-pane">
                    		<div class="container-fluid" id="les_contacts">
                    			                           
                    		</div>
                    	</div>
            		</div>
        		</div>
       		</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	var timerNouveauxMessages;
	var idMaxMsg = 0;
        
        var idDiscussionCourant = null;
        var idContactCourant = null;
        var idDiscussionAjouterContact = null;
        
        function montrerChargementEnvoiMessage(){
		$("#formDiscussionRoom").hide('fade');
		$("#loading").show('fade');
	}

	function cacherChargementEnvoiMessage(){
		$("#loading").hide('fade');
		$("#formDiscussionRoom").show('fade');
	}

	$(function(){

		$(".nav-tabs a").on('hide.bs.tab', function(event){

    		if ($(event.target).find("h4").text() == "Contacts") {
    			$("#menu_contacts").addClass('hide');
    			$("#menu_discussions").removeClass('hide');
    		}
    		else{
    			$("#menu_discussions").addClass('hide');
    			$("#menu_contacts").removeClass('hide');
    		}

		});
                
                mettreAjourContacts();
		mettreAjourDiscussions();
	});

	//met à jour la liste des discussions de l'utilisateur
	function mettreAjourDiscussions(){
                
                //stopInterval();
            
		$.post('{{path('lc_user_discussions')}}', {},
			function(data){
				if ( noSession(data.erreur) ) {
					alert(nonSession+' : Récupération de vos discussions.');
				}
				else if ( isExeption(data.erreur)) {
						alert(data.erreur+" : Récupération de vos discussions. : "+data.ex);
				}
				else{
					$("#les_discussions").empty();
					var cmp = data.length;
					for (var i = 1; i < cmp; i++) {

						if(data[i].createur == "")$("#les_discussions").append("<div onClick='clickSurDiscussion("+data[i].id+")'  class='row-fluid alert alert-info btn-primary btn-lg btn-block' style='text-align: left' id='disc" + data[i].id +"'><p><span class='badge n_msg pull-right' style='background-color: green; color: white'></span></p><p><u style='color: #000055'><b><i><em>Discussion avec:</u></b></i></em> "+ data[i].avec+"</p><p hidden='hidden' id='createur"+data[i].id+"'>"+data[i].createur+"</p></div>");

						else if(data[i].createur == data[i].usercourant)$("#les_discussions").append("<div onClick='clickSurDiscussion("+data[i].id+")' class='row-fluid alert alert-info btn-primary btn-lg btn-block' style='text-align: left' id='disc" + data[i].id +"'>\n\
                                <p><span class='badge n_msg pull-right' style='background-color: green; color: white'></span></p>\n\
                                <p class='pull-right' id='bouton_ajout"+data[i].id+"'>\n\
                                    <button onclick='demandeAjoutContactDiscussion("+ data[i].id +");' type='button' class='btn btn-default' data-toggle='modal' href='#formAjoutContactDiscussionModal' title='Ajouter des contacts à la discussion'><span class='glyphicon glyphicon-plus'></span></button>\n\
                                </p>\n\
                                <p><u style='color: #000055'><b><i><em>Titre:</b></i></em></u> "+ data[i].titre+"</p> <p><u style='color: #000055'><b><i><em>Sujet:</u></b></i></em> " + data[i].sujet +"</p>\n\
                                <p hidden='hidden' id='createur"+data[i].id+"'>"+data[i].createur+"</p>\n\
                                </div>");
					
                                                else $("#les_discussions").append("<div onClick='clickSurDiscussion("+data[i].id+")' class='row-fluid alert alert-info btn-primary btn-lg btn-block' style='text-align: left' id='disc" + data[i].id +"'><p><span class='badge n_msg pull-right' style='background-color: green; color: white'></span></p><p><u style='color: #000055'><b><i><em>Titre:</u></b></i></em> "+ data[i].titre+"</p> <p><u style='color: #000055'><b><i><em>Sujet:</u></b></i></em> " + data[i].sujet +"</p><p hidden='hidden' id='createur"+data[i].id+"'>"+data[i].createur+"</p></div>");
					
                                        }
				}
                                
                                //startInterval();
                                getNouveauxMessages();
                                
			}, json)
		.fail(function(data){
			alert("Impossible de récupérer vos discussions.");
		});
	}


        function demandeAjoutContactDiscussion(discId){
            idDiscussionAjouterContact = discId;          

            formAjoutContactDiscussionGetLcUsers(idDiscussionAjouterContact);
        }

	//met à jour la liste des contacts
	function mettreAjourContacts(){

		$.post('{{path('lc_users')}}', {},
			function(data){
				if ( noSession(data.erreur)) {
					alert(data.erreur+':Récupération des contacts.');
				}
				else if ( isExeption(data.erreur)) {
						alert(data.erreur+" : Récupération des contacts. : "+data.ex);
					}
				else{
					$("#les_contacts").empty();
					var cmp = data.length;
					for (var i = 1; i < cmp; i++) {
						$("#les_contacts").append("<div onClick='clickSurContact("+data[i].id+")' class='row-fluid alert alert-success btn btn-primary btn-lg btn-block' style='text-align: left' id='contact" + data[i].id +"'><span hidden='hidden' id='discavecid"+ data[i].id +"'>"+ data[i].discavecid +"</span><p>"+ data[i].nom+" " + data[i].prenom +"</p></div>");
					}
				}
			}, json)
		.fail(function(data){
			alert("Impossible de récupérer des contacts.");
		});
	}
        
    function actualiserLIsteContacts(){
        mettreAjourContacts();
    }
    
    function actualiserLIsteDiscussions(){
        //stopInterval();
        mettreAjourDiscussions();
    }
    
    
    function clickSurContact(contId){
	idContactCourant = contId;
               
	$("#discussionRoomMessages").empty();
	var entete = $("#contact"+contId).html();
	$("#discussionRoomEntete").html("Discussion avec: "+entete);
	$("#discussionRoomModal").modal({
		keyboard: true
	});
	$('#discussionRoomModal').on('hide.bs.modal',
            function () {
		idContactCourant = null;
            }
	);
            
        $("#textAenvoyer").focus();
        cacherChargementEnvoiMessage();
        getDiscussionMessagesContact(contId);
    }

</script>


{% include "LCBundle:Default:form_nouvelle_discussion.html.twig" %}

{% include "LCBundle:Default:discussion_room.html.twig" %}

{% include "LCBundle:Default:form_ajout_contact_discussion.html.twig" %}

<script type="text/javascript">

	function jouerNotificationDisc(){
		document.getElementById('disc_beep').play();
	}


	function jouerNotificationRoom(){
		document.getElementById('room_beep').play();
	}


	function marquerLu(iddm, idd){
		
		//stopInterval();

		$.post('{{path('lc_marquer_lu')}}', { 'discid' : idd, 'msgid' : iddm },
			function(data){
				if ( noSession(data.erreur) || noPost(data.erreur) || noParam(data.erreur)) {
					alert(data.erreur+": Mise à jour du dernier méssage lu.");
					//stopInterval();
				}
				else if ( isExeption(data.erreur)) {
					alert(data.erreur+" : Mise à jour du dernier méssage lu. : "+data.ex);
					//stopInterval();
				}
				else{
					if(isSucces(data.ok)){
						
						//startInterval();
					}
					else{
						alert("Erreur serveur: Mise à jour du dernier méssage lu.");
						//stopInterval();
					}
				}
					cacherChargementEnvoiMessage();

			}, json)
			.fail(function(data){
				alert("Impossible de mettre à jour du dernier méssage lu.");
				cacherChargementEnvoiMessage();
			});

	}
        
        
        function marquerLuContact(iddm, idc){
		
		//stopInterval();

		$.post('{{path('lc_marquer_lu_contact')}}', { 'contid' : idc, 'msgid' : iddm },
			function(data){
				if ( noSession(data.erreur) || noPost(data.erreur) || noParam(data.erreur)) {
					alert(data.erreur+": Mise à jour du dernier méssage lu. Contact");
					//stopInterval();
				}
				else if ( isExeption(data.erreur)) {
					alert(data.erreur+" : Mise à jour du dernier méssage lu. Contact: "+data.ex);
					//stopInterval();
				}
				else{
					if(isSucces(data.ok)){
						
						//startInterval();
					}
					else{
						alert("Erreur serveur: Mise à jour du dernier méssage lu. Contact:");
						//stopInterval();
					}
				}
					cacherChargementEnvoiMessage();

			}, json)
			.fail(function(data){
				alert("Impossible de mettre à jour du dernier méssage lu. Contact");
				cacherChargementEnvoiMessage();
			});

	}

function getNouveauxMessages(){
        
        //stopInterval();
        
	$.post('{{path('lc_users_nouveaux_messages')}}', {},
		function(data){
			if ( noSession(data.erreur)) {					
				//stopInterval();
				alert(data.erreur+':Récupération des nouveaux méssages.');
			}
			else if ( isExeption(data.erreur)) {
				//stopInterval();
				alert(data.erreur+" : Récupération des nouveaux méssages. : "+data.ex);
			}
			else{

				$(".n_msg").text("");
				lesDiscussionNoveauxMsg = ""; 

				//stopInterval();

				var cmp = data.length;

				var idDernierMessage = null;

				var did = "";
				var nb = 0;
                                var max = 0;

				for (var i = 1; i < cmp; i++) {
					
					did = "disc"+ data[i].discid;
					var patt = new RegExp(did);

                                        if(max < data[i].id) max =  data[i].id;

					if (data[i].discid == idDiscussionCourant || $("#discavecid"+idContactCourant).text() == data[i].discid+"" || data[i].adeux == idContactCourant+","+data[i].demandeur || data[i].adeux == data[i].demandeur+","+idContactCourant) {
                                                
                                            
						if (data[i].posteur == data[i].demandeur)
                                                    if(data[i].type === "") $("#discussionRoomMessages").append("<div id='message"+data[i].id+"' class='row-fluid' style='margin: 12px; text-align: right' ><span class='' style='max-width: 90%; padding: 5px; display: inline-block; border: 1px solid green; border-radius: 5px; border-top-right-radius: 0px;  background-color: white'>"+ data[i].contenu +"</br><span style='font-size: 10px; font-weight: bold; color: #aaaaaa'>"+ data[i].date+"</span></span><span style='display: inline-block; float: right; heigth: 0px; width: 0px; border-top: green 15px solid; border-right: 15px solid transparent'></span></div>");
                                                    else $("#discussionRoomMessages").append("<div id='message"+data[i].id+"' class='row-fluid' style='margin: 12px; text-align: right' ><span class='' style='max-width: 90%; padding: 5px; display: inline-block; border: 1px solid green; border-radius: 5px; border-top-right-radius: 0px;  background-color: white'><a onclick='clickImage("+data[i].id+");' data-toggle='modal' href='#myModal2' class='btn btn-primary'><img style='max-width: 100px; max-height: 100px' src='{{ app.request.basePath }}/bundles/lc/chatimages/"+data[i].type+"'/></a><br/>"+ data[i].contenu +"</br><span style='font-size: 10px; font-weight: bold; color: #aaaaaa'>"+ data[i].date+"</span></span><span style='display: inline-block; float: right; heigth: 0px; width: 0px; border-top: green 15px solid; border-right: 15px solid transparent'></span></div>");
                                                else{

							if($("#createur"+data[i].discid).text() == ""){
								if(data[i].type === "") $("#discussionRoomMessages").append("<div id='message"+data[i].id+"' class='row-fluid' style='margin: 12px; text-align: left' ><span style='display: inline-block; float: left; heigth: 0px; width: 0px; border-top: orange 15px solid; border-left: 15px solid transparent'></span><span class='' style='max-width: 90%; padding: 5px; display: inline-block; border: 1px solid orange; border-radius: 5px; border-top-left-radius: 0px;  background-color: white'>"+ data[i].contenu +"</br><span style='font-size: 10px; font-weight: bold; color: #aaaaaa'>"+ data[i].date+"</span></span></div>");
                                                                else $("#discussionRoomMessages").append("<div id='message"+data[i].id+"' class='row-fluid' style='margin: 12px; text-align: left' ><span style='display: inline-block; float: left; heigth: 0px; width: 0px; border-top: orange 15px solid; border-left: 15px solid transparent'></span><span class='' style='max-width: 90%; padding: 5px; display: inline-block; border: 1px solid orange; border-radius: 5px; border-top-left-radius: 0px;  background-color: white'><a onclick='clickImage("+data[i].id+");' data-toggle='modal' href='#myModal2' class='btn btn-primary'><img style='max-width: 100px; max-height: 100px' src='{{ app.request.basePath }}/bundles/lc/chatimages/"+data[i].type+"'/></a><br/>"+ data[i].contenu +"</br><span style='font-size: 10px; font-weight: bold; color: #aaaaaa'>"+ data[i].date+"</span></span></div>");
                                                                
                                                        }
							else{

								if(data[i].type === "") $("#discussionRoomMessages").append("<div id='message"+data[i].id+"' class='row-fluid' style='margin: 12px; text-align: left' ><strong style='display: block'><em>"+data[i].nomposteur+"</em>:</strong><span style='display: inline-block; float: left; heigth: 0px; width: 0px; border-top: orange 15px solid; border-left: 15px solid transparent'></span><span class='' style='max-width: 90%; padding: 5px; display: inline-block; border: 1px solid orange; border-radius: 5px; border-top-left-radius: 0px;  background-color: white'>"+ data[i].contenu +"</br><span style='font-size: 10px; font-weight: bold; color: #aaaaaa'>"+ data[i].date+"</span></span></div>");	
                                                                else    $("#discussionRoomMessages").append("<div id='message"+data[i].id+"' class='row-fluid' style='margin: 12px; text-align: left' ><strong style='display: block'><em>"+data[i].nomposteur+"</em>:</strong><span style='display: inline-block; float: left; heigth: 0px; width: 0px; border-top: orange 15px solid; border-left: 15px solid transparent'></span><span class='' style='max-width: 90%; padding: 5px; display: inline-block; border: 1px solid orange; border-radius: 5px; border-top-left-radius: 0px;  background-color: white'><a onclick='clickImage("+data[i].id+");' data-toggle='modal' href='#myModal2' class='btn btn-primary'><img style='max-width: 100px; max-height: 100px' src='{{ app.request.basePath }}/bundles/lc/chatimages/"+data[i].type+"'/></a><br/>"+ data[i].contenu +"</br><span style='font-size: 10px; font-weight: bold; color: #aaaaaa'>"+ data[i].date+"</span></span></div>");	
                                                                 
                                                        }

							if(!patt.test(lesDiscussionNoveauxMsg)){
								lesDiscussionNoveauxMsg = lesDiscussionNoveauxMsg+did;
								nb++;
							}

							jouerNotificationRoom();
						}

						idDernierMessage = data[i].id;

						var elem = document.getElementById('main_room');
  						elem.scrollTop = elem.scrollHeight;

					}
					else{

						if (data[i].posteur != data[i].demandeur){//on incremente le nb de msg si le message nest pas pour user actuel
							var val = parseInt($("#disc"+data[i].discid+" .n_msg").text());
							if(isNaN(val)) val = 0;
							val++;
							$("#disc"+data[i].discid+" .n_msg").text(val);
							if(!patt.test(lesDiscussionNoveauxMsg)){
								lesDiscussionNoveauxMsg = lesDiscussionNoveauxMsg+did;
								nb++;
							}
							if(data[i].id > idMaxMsg) jouerNotificationDisc();                                                        
						}
					}
				}

                                if(nb == 0)nb = "";
				$("#nb_dicussion").text(nb);

				if(idMaxMsg < max) idMaxMsg = max;
                             
				if(idDernierMessage != null && idDiscussionCourant != null)marquerLu(idDernierMessage, idDiscussionCourant);
                                
                                if(idDernierMessage != null && idContactCourant != null)marquerLuContact(idDernierMessage, idContactCourant);
                                
                                //startInterval();
                        }
		}, json)
	.fail(function(data){
		//stopInterval();
		alert("Impossible de récupérer les nouveaux méssages.");
	});
}

</script>