{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div>
    <div class="login-box">
      <div class="login-logo">
        <p><b>GSP_</b>MANAGER</a></p>
		 {#<button class="profile__avatar" id="toggleProfile">
             <img src="{{ asset('bundles/Utilisateurs/UtilisateursBundle/images/logog.jpg')}}" alt="Avatar"  class="img-circle"/> 
         </button>#}
      </div><!-- /.login-logo -->
      <div class="login-box-body">
	  
      <center><img src="{{ asset('bundles/Utilisateurs/UtilisateursBundle/images/logog.jpg')}}" alt="Avatar"  class="img-circle" width="150" height="150"/> </center>
         
        <p class="login-box-msg"><br/ >CONNEXION</p>
          
	<form action="{{ path("fos_user_security_check") }}" method="post">
            
                    {% if error %}
                        <div class="alert alert-danger">  
						     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">Fermer</button>
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        </div>
                    {% endif %}

                    <div class="form-group has-feedback">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                  <input type="text" class="form-control" placeholder="Identifiant" name="_username"  >
				   <span class="glyphicon glyphicon-user form-control-feedback"></span>
           </div>
		    <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password"  name="_password" required="required">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
		  <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox" value="on">
				  Se Souvenir de Moi
                </label>
              </div>
            </div>
            <div class="col-xs-4">

			<input type="submit" id="_submit" class="btn btn-primary btn-block btn-flat" name="_submit" value="Connecter" />
             </div>
          </div>
    </form>
		    <div class="social-auth-links text-center">
          <p>- GSP -</p>
          <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Jesus est la Verite</a>
          <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Jesus est la Vie</a>
            </div><!-- /.social-auth-links -->
     
      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

    <!-- jQuery 2.1.4 -->
    <script src="{{ asset('bundles/sybiluser/plugins/jQuery/jQuery-2.1.4.min.js')}}"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{{ asset('bundles/sybiluser/bootstrap/js/bootstrap.min.js')}}"></script>
    <!-- iCheck -->
    <script src="{{ asset('bundles/sybiluser/plugins/iCheck/icheck.min.js')}}"></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
</div>	
{% endblock fos_user_content %}
