{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href={{ path("fos_user_security_login") }}><b>G.S.P</b>|Manager</a>
            </div><!-- /.login-logo -->
            <div class="login-box-body">
                <center><img src="{{ asset('bundles/GSPBundle/dist/img/avatar04.png')}}" alt="Avatar"  class="img-circle" width="150" height="150"/> </center>
                <p class="login-box-msg"><br/>Module Vente</p>
         
                <center><img src="{{ asset('bundles/GSPBundle/dist/img/avatar04.png')}}" alt="Avatar"  class="img-circle" width="150" height="150"/> </center>
                <p class="login-box-msg"><br/>Module Services Après-Vente</p>
            
                <center><img src="{{ asset('bundles/GSPBundle/dist/img/avatar04.png')}}" alt="Avatar"  class="img-circle" width="150" height="150"/> </center>
                <p class="login-box-msg"><br/>Module Ressource Humaine</p>
            
                <center><img src="{{ asset('bundles/GSPBundle/dist/img/avatar04.png')}}" alt="Avatar"  class="img-circle" width="150" height="150"/> </center>
                <p class="login-box-msg"><br/>Module Archive</p>
            </div><!-- /.login-box-body -->
            
        </div><!-- /.login-box -->

        <!-- jQuery 2.1.4 -->
        <script src="{{asset('/bundles/GSPBundle/plugins/jQuery/jQuery-2.1.4.min.js')}}"></script>
        <!-- Bootstrap 3.3.5 -->
        <script src="{{asset('/bundles/GSPBundle/bootstrap/js/bootstrap.min.js')}}"></script>
        <!-- iCheck -->
        <script src="{{asset('/bundles/GSPBundle/plugins/iCheck/icheck.min.js')}}"></script>
        <script>
            $(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' // optional
                });
            });
        </script>
    </body>

{% endblock fos_user_content %}