{% if type is defined and type == "vente" %}

    {% set startDate = startDate | date('Y-m-d') %}
    {% set endDate = endDate | date('Y-m-d') %}
    {#<div style="display: inline-block;">
        <form name="form_distributeur" method="post" action="{{ path('main_page_distributeur',{ 'type': type }) }}">
            <select name="form_distributeur[distributeur]" class="select2 form-control">
                <option>Sélectionner un distributeur</option>
                {% for d in distributeurs %}
                    {% if distributeur is defined and distributeur is not empty and distributeur[0].id == d.id %}
                        <option value="{{ d.id }}" selected="selected">{{ d.name }}</option>
                    {% else %}
                        <option value="{{ d.id }}">{{ d.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-success btn-xs" style="height: 25px;"><i class="fa fa-search"></i></button>
        </form>
        <div id="reportrange-1" style="display: inline; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%; font-size: 0.8em; font-weight: normal;">        
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
            <span>{{ start }} - {{ end }}</span> <b class="caret"></b>
        </div>
    </div>#}
    {% if nom is defined and nom is null and nom is empty %}
        {% set nom = 'nom' %}
    {% endif %}
    {% if prenom is defined and prenom is null and prenom is empty %}
        {% set nom = 'prenom' %}
    {% endif %}
    <div style="display: inline-block;" class="pull-right">
        <a href="{{ path('grh_prestataire') }}"><input type="button" class="btn btn-warning btn-xs"value="Retour"/></a>
        <a href="{{ path('export_excel_vente', {'startDate': startDate, 'endDate': endDate,'nom': nom, 'prenom': prenom }) }}"><input type="button" class="btn btn-primary btn-xs"value="Exporter en excel"/></a>
    </div>
    <div class="table-responsive mailbox-messages">
        <table id="vente" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="text-align: center;">Nom</th>
                    {% if byDate == true %}
                        <th style="text-align: center;">Prenom</th>
                        <th style="text-align: center;">Opération</th>
                        {#<th style="text-align: center;">Abonne</th>
                        <th style="text-align: center;">Date</th>#}
                    {% endif %}
                    <th style="text-align: center;">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td style="text-align: center;">{{ entity.nom }}</td>
                        {% if byDate == true %}
                        <td style="text-align: center;">{{ entity.prenom }}</td>
                        <td style="text-align: center;">{% if entity.Total1 is defined %}Réabonnement{% elseif entity.Total2 is defined %}Complément{% endif %}</td>
                        {#<td style="text-align: center;">{{ entity.abonne }}</td>
                        <td style="text-align: center;">{{ entity.date|date('d/m/Y') }}</td>#}
                        {% endif %}
                        <td style="text-align: center;">{% if entity.Total1 is defined %}{{ entity.Total1 }}{% elseif entity.Total2 is defined %}{{ entity.Total2 }}{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    {% set nb = 0 %}
    {#{{ dump(entities) }}#}
    <div class="row">
    {% for entity in entities %}
        {% set nb =  nb + 1 %}
            <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                <h3>{{ entity.value }}</h3>

                <p>{{ entity.label }}</p>
                </div>
                <div class="icon">
                <i class="ion ion-bag"></i>
                </div>
                {#<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>#}
            </div>
            </div>
            <!-- ./col -->
        {% if nb%4 == 0 %}
        </div>
            {% if nb < entities|length %}
                <div class="row">
            {% endif %}
        {% else %}
            {% if nb == entities|length %}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    {#{% if nb > 0 %}
        <span class='badge label-danger'>
                {{ nb }}
        </span>
    {% endif %}#}
{% endif %}