
{% block content %}
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <center> <h1 class="box-title"><b>Liste des Droits</b></h1></center>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <form action="{{ path('rigth_change', { 'userId': user,'option': option }) }}" class="form-horizontal"  method="POST">
                    <input type="hidden" name="user" value="{{user}}"/>
                    <input type="hidden" name="option" value="{{option}}"/>

                    {% for entity in roles %}
                        <div class="form-group" style="display: block; margin-left: auto;">
                            <div class="form-group" style="display: block;">
                                <label class="control-label" for="email">{{entity}}</label>
                                <input type="checkbox"  name="roles[]" value="{{entity}}" /> 
                            </div>
                        </div>
                    {% endfor %}
                    <div style="display: block; margin-left: auto;">
                        <button type="submit" class="btn btn-primary" >Valider</button> 
                    </div>             
                </form>

            </div>
    </div>
    </section>
{% endblock %}
