{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Zone</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Codezone</th>
                <td>{{ entity.codeZone }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ entity.libelle }}</td>
            </tr>
            <tr>
                <th>Projetzone</th>
                <td>{{ entity.projetZone }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('zone') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('zone_edit', { 'id': entity.codeZone }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
