{% extends "FadcoBundle:Default:menu.html.twig" %}
{% block title %} Confirmer le réabo. direct{% endblock %}

{% block content %}

    <section class="content">
        
            <div class="box-body" style="background-color:black;">
                <!-- Info boxes -->
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box-content" style="background-color:black;">
                            <span><img src="{{ asset('bundles/FadcoBundle/fadcoplus.jpg') }}" style="width:80px; heigth:5px;" alt="edgar"/></span>
                            
                                <span style="color:green;" class="info-box-number">{{ app.user.account|number_format(0,'.',' ') }} F</span>
                                <span class="info-box-text" style="color:white;">({{ app.user.name }})</span>
                                {#<span class="info-box-text" style="color:white;">777777662({{ app.user.username }})</span>
                                <span class="info-box-text" style="color:white;">7878787812({{ app.user.username }})</span>#}
                            
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>
                <!-- /.row -->
            </div>

    <div class="box box-primary">		
		<div class="box-body">
		    <div class="container modal-content">
		    	<div class="col-sm-offset-2 col-sm-7" >
					
                    
                            <span>&nbsp;</span>

                            <h3 class="box-title" style="color:red;">AVERTISSEMENT !</h3>

                            <div class="modal-body">
                                <span style="">
                                    
                                   Votre compte est insuffisant pour effectuer ce réabonement direct de : {{ montant|number_format(0,'.',' ') }} F

                                </span>
                                
                              </div>

                            <span>&nbsp;</span>
                        

                            <div class="modal-footer">
                                <div class="input-group pull-right">
                                    <a href="{{ path('fadco_espace_distributeur_reabo_new') }}">
                                        <button type="button" class="btn btn-warning  pull-left">Reprendre</button>
                                    </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="{{ path('fadco_espace_distributeur_reabo') }}">
                                        <button type="bouton" class="btn btn-default">Annuler</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div> <!-- End div container -->
        </div>
        </div>
    </section>

{% endblock %}