{% macro countbox(text, count, bgColor, icon, size) %}
    <div class="{% if size is not null %}{{ size }}{% else %}col-sm-4 col-lg-3{% endif %}">
        <div class="small-box {{ bgColor }}" data-toggle="tooltip" data-placement="bottom" title="{{ count }} {{ text }}" style="cursor:pointer">
            <div class="inner text-center">
                <h3>{{ count }}</h3>
                <p><span>{{ text }}</span></p>
            </div>
            <div class="icon" style="left: 10px">
                <i class="fa {{ icon }}"></i>
            </div>
            <a href="#" class="small-box-footer">
                {#Voir détails <i class="fa fa-arrow-circle-right"></i>#}
            </a>
        </div>
    </div>
{% endmacro %}

{% macro countbox2(text, count, bgColor, icon) %}   
    {% import _self as m %}
    {{ m.countbox(text, count, bgColor, icon,'col-sm-6 col-xs-12') }}
{% endmacro %}

{% macro countbox3(text, count, bgColor, icon) %}
    {% import _self as m %}
    {{ m.countbox(text, count, bgColor, icon,'col-sm-4 col-xs-12') }}
{% endmacro %}

{% macro chartbox(title, chart, type) %}
    <div class="box {% if type is not null %}box-{{ type }}{% endif %}">
        <div class="box-header with-border">
            <h3 class="box-title">{{ title }}</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>            
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            {% if chart is not null %}
                {% if chart == false %}
                    <p class="text-center">Aucune donnée à afficher</p>
                {% else %}
                    <div id="{{ chart.chart.chart.renderTo }}" style="width: 100%; height:350px;"></div>
                    <script type="text/javascript">
                        {{ chart(chart) }}
                    </script>
                {% endif %}                       
            {% endif %}
        </div>
        <!-- ./box-body -->        
    </div>
{% endmacro %}

{% macro tabbedchartbox(title, charts, type) %}
    {% set ids = {} %}
    <div class="nav-tabs-custom" style="cursor: move;">        
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-right ui-sortable-handle">
            {% if charts is not null and charts is not empty %}
                {% for label, chart in charts %}
                    {% set ids = ids | merge({(label): fadco.uniqueId}) %}
                    <li class="{% if loop.index0 == 0%}active{% endif %}">
                        <a href="#{{ ids[label] }}" data-toggle="tab" aria-expanded="false">
                            {{ label }}
                        </a>
                    </li>
                {% endfor %}
                <li class="pull-left header">{{ title }}</li>
            {% endif %} 
        </ul>                       
        
        <div class="tab-content no-padding">
            {% for label, chart in charts %}
                <div class="chart tab-pane {% if loop.index0 == 0%}active{% endif %}" id="{{ ids[label] }}">
                    <div id="{{ chart.chart.chart.renderTo }}" style="width: 100%; height:350px; position: relative;"></div>
                    <script type="text/javascript">
                        {{ chart(chart) }}
                    </script>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}