{% macro menu(label, route, attrs, icon) %}
    <li {% if app.request.attributes.get('_route') == route %}class="active"{% endif %}>
        <a href="{{ path(route, attrs is null ? [] : attrs) }}">
            {{ label }}
        </a>
    </li>
{% endmacro %}

{% from _self import menu %}

<li class="header">INDICATEUR</li>

{{ menu('Performances de la DSC', 'gsp_indicateur_performance_dsc') }}
{{ menu('Performances de la DAI', 'gsp_indicateur_performance_dai') }}
{{ menu('Performances de la DSAV', 'gsp_indicateur_performance_dsav') }}
{{ menu('Performances de la DSJ', 'gsp_indicateur_performance_dsj') }}
{{ menu('Consultation ARCHIVES', 'gsp_indicateur_performance_archives') }}
{{ menu('Performances de la DFCA', 'gsp_indicateur_performance_dfca') }}