{% extends "FadcoBundle:Default:menu.html.twig" %}
{% block title %} Nouveau complément{% endblock %}

{% block content %}

    <section class="content">
        
            <div class="box-body" style="background-color:black;">
                <!-- Info boxes -->
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box-content" style="background-color:black;">
                            <span><img src="{{ asset('bundles/FadcoBundle/fadcoplus.jpg') }}" style="width:80px; heigth:5px;" alt="edgar"/></span>
                            
                                <span style="color:green;" class="info-box-number">{{ app.user.account|number_format(0,'.',' ') }} F</span>
                                <span class="info-box-text" style="color:white;">({{ app.user.name }})</span>
                                {#<span class="info-box-text" style="color:white;">777777662({{ app.user.username }})</span>
                                <span class="info-box-text" style="color:white;">7878787812({{ app.user.username }})</span>#}
                            
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>
                <!-- /.row -->
            </div>

    <div class="box box-primary">
		<div class="box-header with-border">
			<h4 class="box-title">Nouveau complément</h4>
		</div>
		
		<div class="box-body">
		    <div class="container modal-content">
		    	<div class="col-sm-offset-2 col-sm-7" >
					
                    <form method="post" action="{{ path('fadco_espace_distributeur_reabo_complement_new') }}" name="fadcobundle_distributeur_new_reabo_complement" id="fadcobundle_distributeur_new_reabo_complement">

                        <span>&nbsp;</span>

                        <div class="input-group">
                            <label class="input-group-addon"><i class="fa fa-oclock"></i>Date : {{ 'now'|date('d/m/Y H:i:s') }}</label>
                        </div>

                        <span>&nbsp;</span>

                        <div class="form-group" id="choix">
                            <label class="control-label"><span style="color: red; margin-right: 2px;">*</span>&nbsp;</label>&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="choix" value="ancien">Ancien réabonnement
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="choix" value="nouveau">Nouveau
                        </div>

                        <span>&nbsp;</span>

                        <div class="form-group" id="auto" style="display:none">

                            <div class="input-group">
                                <span><b>*- Ancienne offre</b></span>
                            </div>

                            <span>&nbsp;</span>

                            <div class="input-group">
                                <label class="input-group-addon"><i class="control-label"></i>Réabonnement<span style="color: red; margin-right: 2px;">* : </span></label>
                                <select name="fadcobundle_distributeur_new_reabo_complement[reabo]" id="fadcobundle_distributeur_new_reabo_complement_reabo" class="select2 form-control" style="width: 100%;">
                                    <option value="">--</option>
                                    {% for reabo in reabos %}
                                        <option value="{{ reabo.id }}">{{ reabo.abonne }}{% if reabo.numeroCarte %} / {{ reabo.numeroCarte }}{% endif %}{% if reabo.numeroAbonne %} / {{ reabo.numeroAbonne }} / {% endif %}{{ reabo.formule }}{% if reabo.options %} / {{ reabo.options }}{% endif %}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="input-group" id="data" style="display:none">

                            <div class="input-group">
                                <span><b>*- Infos sur l'abonné </b></span>
                            </div>

                            <span>&nbsp;</span>

                            <div class="input-group">
                                <label class="input-group-addon"><i class=""></i>N° abonné : </label>
                                <input name="fadcobundle_distributeur_new_reabo_complement[numeroAbonne]" class="form-control"/>
                            </div>

                            <span>&nbsp;</span>
                            
                            <div class="input-group">
                                <label class="input-group-addon"><i class=""></i>N° carte : </label>
                                <input maxlength="14" minlength="14" name="fadcobundle_distributeur_new_reabo_complement[numeroCarte]" class="form-control"/>
                            </div>

                            <span>&nbsp;</span>
                            
                            <div class="input-group">
                                <label class="input-group-addon"><i class=""></i>Nom : </label>
                                <input name="fadcobundle_distributeur_new_reabo_complement[nom]" class="form-control"/>
                            </div>

                            <span>&nbsp;</span>
                            
                            <div class="input-group">
                                <label class="input-group-addon"><i class=""></i>Prénom(s) : </label>
                                <input name="fadcobundle_distributeur_new_reabo_complement[prenom]" class="form-control"/>
                            </div>

                            <span>&nbsp;</span>

                            <div class="input-group">
                                <label class="input-group-addon"><i class=""></i>N° téléphone<span style="color: red; margin-right: 2px;">*</span> : </label>
                                <input required maxlength="8" minlength="8" id="contact" name="fadcobundle_distributeur_new_reabo_complement[contact]" class="form-control"/>
                            </div>

                            <span>&nbsp;</span>

                            <div class="input-group">
                                <span><b>*- Ancienne offre </b></span>
                            </div>

                            <span>&nbsp;</span>

                            <div class="input-group">
                                <label class="input-group-addon"><i class="control-label"></i>Formule : <span style="color: red; margin-right: 2px;">*</span></label>
                                <select id="fadcobundle_distributeur_new_reabo_complement_formuleOld" name="fadcobundle_distributeur_new_reabo_complement[formuleOld]" class="select2 form-control" style="width: 100%;">
                                    <option value="">--</option>
                                    <option value="ACCESS">ACCESS</option>
                                    <option value="ACCESS+">ACCESS+</option>
                                    <option value="EVASION">EVASION</option>
                                    <option value="EVASION+">EVASION+</option>
                                    <option value="TOUT CANAL">TOUT CANAL</option>
                                </select>
                            </div>

                            <span>&nbsp;</span>

                            <div class="input-group">
                                <label class="input-group-addon"><i class="control-label"></i>Option : </label>
                                <select name="fadcobundle_distributeur_new_reabo_complement[optionsOld]" class="select2 form-control" style="width: 100%;">
                                    <option value="">--</option>
                                    <option value="2ième ECRAN">2ième ECRAN</option>
                                    <option value="CHARME">CHARME</option>
                                    <option value="2ième ECRAN et CHARME">2ième ECRAN et CHARME</option>
                                </select>
                            </div>

                        </div>

                        <span>&nbsp;</span>

                        <div id="boutons" style="display:none;">

                            <span>&nbsp;</span>

                            <div class="input-group">
                                <span><b>*- Complément vers </b></span>
                            </div>

                            <span>&nbsp;</span>

        			        <div class="input-group">
                                <label class="input-group-addon"><i class="control-label"></i>Formule : <span style="color: red; margin-right: 2px;">*</span></label>
                                <select required name="fadcobundle_distributeur_new_reabo_complement[formule]" class="select2 form-control" style="width: 100%;">
                                    <option value="">--</option>
                                    {#<option value="ACCESS">ACCESS</option>#}
                                    <option value="ACCESS+">ACCESS+</option>
                                    <option value="EVASION">EVASION</option>
                                    <option value="EVASION+">EVASION+</option>
                                    <option value="TOUT CANAL">TOUT CANAL</option>
                                </select>
                            </div>

                            <span>&nbsp;</span>

                            <div class="input-group">
                                <label class="input-group-addon"><i class="control-label"></i>Option : </label>
                                <select name="fadcobundle_distributeur_new_reabo_complement[options]" class="select2 form-control" style="width: 100%;">
                                    <option value="">--</option>
                                    <option value="2ième ECRAN">2ième ECRAN</option>
                                    <option value="CHARME">CHARME</option>
                                    <option value="2ième ECRAN et CHARME">2ième ECRAN et CHARME</option>
                                </select>
                            </div>

                            <span>&nbsp;</span>
                        

                            <div class="modal-footer">
                                <div class="input-group pull-right">
                                    <a href="{{ path('fadco_espace_distributeur_reabo_complement') }}">
                                        <button type="button" class="btn btn-default  pull-left">Annuler</button>
                                    </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="#">
                                        <button type="submit" class="btn btn-success">Soumettre</button>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </form>
                    
                </div>
            </div> <!-- End div container -->
        </div>
        </div>
    </section>

    <script src="{{ asset('bundles/FadcoBundle/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/FadcoBundle/plugins/select2/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/FadcoBundle/plugins/timepicker/bootstrap-timepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/FadcoBundle/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bundles/FadcoBundle/plugins/datepicker/locales/bootstrap-datepicker.fr.js') }}"></script>

    <script>
        //pieces jointes
        $('#choix').focusout(function () {
            if (($('input[name=choix]:checked').val()) == 'ancien') {
                var e = document.getElementById('auto');
                var f = document.getElementById('data');
                var g = document.getElementById('boutons');
                e.style.display = 'block';
                g.style.display = 'block';
                f.style.display = 'none';
                $('#contact').attr('required', false);
                $('#fadcobundle_distributeur_new_reabo_complement_reabo').attr('required', true);
                $('#fadcobundle_distributeur_new_reabo_complement_formuleOld').attr('required', false);
            }
            if (($('input[name=choix]:checked').val()) == 'nouveau') {
                var e = document.getElementById('auto');
                var f = document.getElementById('data');
                var g = document.getElementById('boutons');
                e.style.display = 'none';
                f.style.display = 'block';
                g.style.display = 'block';
                $('#contact').attr('required', true);
                $('#fadcobundle_distributeur_new_reabo_complement_reabo').attr('required', false);
                $('#fadcobundle_distributeur_new_reabo_complement_formuleOld').attr('required', true);
            }
        });
        $('#choix').on('click', function (e) {
            if (($('input[name=choix]:checked').val()) == 'ancien') {
                var e = document.getElementById('auto');
                var f = document.getElementById('data');
                var g = document.getElementById('boutons');
                e.style.display = 'block';
                g.style.display = 'block';
                f.style.display = 'none';
                $('#contact').attr('required', false);
                $('#fadcobundle_distributeur_new_reabo_complement_reabo').attr('required', true);
                $('#fadcobundle_distributeur_new_reabo_complement_formuleOld').attr('required', false);
            }
            if (($('input[name=choix]:checked').val()) == 'nouveau') {
                var e = document.getElementById('auto');
                var f = document.getElementById('data');
                var g = document.getElementById('boutons');
                e.style.display = 'none';
                f.style.display = 'block';
                g.style.display = 'block';
                $('#contact').attr('required', true);
                $('#fadcobundle_distributeur_new_reabo_complement_reabo').attr('required', false);
                $('#fadcobundle_distributeur_new_reabo_complement_formuleOld').attr('required', true);
            }
        });

        $(function () {
            $(".select2").select2();
        });
    </script>

{% endblock %}