{% extends "GSPBundle:Default:menu.html.twig" %}
{% block title %}Bon de commande journalier d'un prestataire{% endblock %}
{% block contentHeader %}{% endblock %}
{% block content %}
    <section class="content">
        <form id="result-form" action="" method="POST" class="form">
            <div class="box box-primary">

                <div class="box-body">
                    {#<div class="table-responsive">#}
                    <div class="form-inline">
                        <div class="col-sm-11 pull-left">
                            <div class="form-group">
                                <label class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                    Par période :</label>
                                <span class="input-group-addon" style="width: 45%">
                                    <div class='input-group'>
                                        <input type='text'
                                               id='dateDebut'
                                               required="required"
                                               class="form-control datepicker"
                                               value=""/>
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    </div>
                                </span>
                                <span class="input-group-addon" style="width: 45%">
                                    <div class='input-group'>
                                        <input type='text'
                                               required="required"
                                               id='dateFin'
                                               class="form-control datepicker"
                                               value=""/>
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    </div>
                                </span>
                                <span class="input-group-addon" style="width: 50%">
                                         <select style="width: 250px" id="prestataire" class="selectpicker form-control " data-live-search="true" title="">
                                        <option value="none">Selectionnez un prestataire SVP!</option>
                                             {% for prestataire in prestataires %}
                                                 <option value="{{prestataire.id }}">{{ prestataire.nom ~ " " ~ prestataire.prenom }}</option>
                                             {% endfor %}
                                      </select>
                                </span>
                                <a href="#" type="button" class="btn btn-default
                                input-group-addon"  id="searchLink">
                                    <i class="fa fa-search"></i><b>Rechercher</b>
                                </a>
                            </div>
                        </div>
                    </div>
                    {#</div>#}
                </div>
            </div>
        </form>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Bon de commande journalier d'un prestataire sur une période </h3>
            </div>
            <!-- /.box-header -->
            <div id="content" class="box-body no-padding">
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-padding">

            </div>
        </div>
        <div id="BCJModal" class="modal fade col-md-12" data-keyboard="false" data-backdrop="static" role="dialog" >
            <div class="modal-dialog modal-lg " style="width: 1000px">
                <div class="modal-content" style=" max-height: 90%; overflow:auto;">
                    <div class="modal-header">
                        <button type="button" class="close hideModal" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="Boxdetail">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="loaderModal" tabindex="-1" role="dialog" aria-labelledby="transmissionModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="transmissionModalLabel">Chargement  en cours ...</h4>
                    </div>
                    <div class="modal-body">
                        <div class="cssload-loader">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    {{parent()}}
    <script src="{{asset('bundles/GSPBundle/plugins/datepicker/bootstrap-datepicker.js')}}"></script>
    <script src="{{asset('bundles/GSPBundle/plugins/datepicker/locales/bootstrap-datepicker.fr.js')}}"></script>

    <script src="{{asset('bundles/GSPBundle/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('bundles/GSPBundle/plugins/datatables/dataTables.bootstrap.min.js')}}"></script>

    <script>
        function showLoader(id) {
            $("#"+id).modal({
                keyboard: false,
                backdrop: false
            });
        }

        function hideLoader(id) {
            $("#"+id).modal('hide');
        }
        function getDetail($this) {
            var id= $($this).data('id');
            var data = new Object();
            data.id = id;showLoader("loaderModal");
            $.ajax({
                type: 'POST',
                url: Routing.generate('grh_prestataire_detail_bon_commande_journalier'),
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify(data),
                datatype: 'html',
                success: function(data) {
                    console.log(data);
                    hideLoader("loaderModal")
                    $('#BCJModal').modal('show');
                    $('#Boxdetail').html(data);
                },
            });
        }
        $(function () {
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                language: 'fr'
            });
            $('#searchLink').on( 'click',function (e) {
                if($('#dateDebut').val()=="" || $('#dateFin').val()==""){
                    var elt = '<div class="alert alert-danger alert-dismissible">' +
                        ' <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> ' +
                        '<h4><i class="icon fa fa-check"></i> info!</h4>Choisissez la période !. </div>';
                    $('#content').html(elt);
                    return 0;
                }
                if($('#prestataire').val() == "none"){
                    var elt = '<div class="alert alert-danger alert-dismissible">' +
                        ' <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> ' +
                        '<h4><i class="icon fa fa-check"></i> info!</h4>Choisissez un prestataire !. </div>';
                    $('#content').html(elt);
                    return 0;

                }
                var $datedebut = $('#dateDebut').val();
                var $datefin = $('#dateFin').val();
                var prestataire = $('#prestataire').val();
                var data = new Object();
                data.datedebut = $datedebut;
                data.datefin = $datefin;
                data.prestataire = prestataire;
                showLoader("loaderModal");
                $.ajax({
                    type: 'POST',
                    url: Routing.generate('grh_prestataire_get_bon_commande_journalier'),
                    contentType: 'application/json; charset=UTF-8',
                    data: JSON.stringify(data),
                    datatype: 'html',
                    success: function(data) {
                        hideLoader("loaderModal")
                        $('#content').html(data);
                    },
                });
            })
        });

    </script>
{% endblock %}